<!DOCTYPE html>
<html>
<head>
<title>신나라유통 ERP > group</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<style type="text/css">
body { margin: 0px; padding: 0px; overflow: hidden; font-family: sans-serif; color: #616161; }
.smc-btn { display: inline-block; padding: 4px 10px; font-weight: bold; font-size: 12px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; cursor: pointer; }
.smc-header { font-size: 20px; padding: 10px; color: #222; font-weight: bold; border-bottom: #ccc solid 2px; margin-bottom: 20px; }
.smc-desc { background-color: #eee; color: #616161; padding: 10px; font-size: 12px; }
.group_wrap { border-radius: 4px; box-shadow: 0px 0px 0px 1px #ccc; }

.small-title { font-weight: bold; margin-bottom: 10px; }
footer { position: fixed; left: 0px; bottom: 20px; text-align: center; width: 100%; }
footer .smc-btn-wrap { border-top: #ccc solid 2px; padding: 20px; }
</style>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-offset-2 col-md-8">
			<div class="smc-header">
				소속 관리
			</div>
			<div class="col-md-12">
				<div class="small-title">목록</div>
				<div class="row">
				
				</div>
				<div class="row group_wrap">
					<div class="col-md-12" style="background-color: #009688; padding: 10px; color: white; font-weight: bold;">북부</div>
						<div  style="margin-top: 10px;">
							<div class="col-md-2" style=" text-align: right;">
								인원
							</div>
							<div class="col-md-10" style="text-align: left;">
								오경환, 김유신, 윤대영, 최우석
							</div>
						</div>
				</div>
			</div>
			
		</div>
		
		<div class="col-md-offset-2 col-md-8">
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="smc-btn-wrap">
					<div class="smc-btn">삭제</div>
					<div class="smc-btn">수정</div>
					<div class="smc-btn">추가</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript">

</script>
</body>
</html>