<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8">
<title>신나라유통 ERP > product > management</title>
<link rel="stylesheet" href="/lib/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
<style type="text/css">
body { margin: 0px; padding: 0px; overflow: hidden; font-family: sans-serif; color: #616161; }
.smc-btn { float: right; display: inline-block; padding: 4px 10px; vertical-align: bottom; font-weight: bold; font-size: 10px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; cursor: pointer; margin-left: 4px; }
.smc-btn:not(.disable):hover { box-shadow: 0px 0px 1px 1px #aaa; !important; }
.smc-btn.select { box-shadow: 0px 0px 1px 1px #2196F3 !important; }
.smc-btn.blue { background-color: #2196F3; color: white; box-shadow: 0px 0px 0px 1px #2196F3; }
.smc-btn.bluegray { background-color: #607D8B; color: white; box-shadow: 0px 0px 0px 1px #90A4AE; }
.smc-btn.disable { background-color: #eee; color: #aaa; cursor: not-allowed; }
.smc-header { font-size: 20px; padding: 10px; color: #222; font-weight: bold; margin-bottom: 20px; }
.smc-desc { background-color: #eee; color: #616161; padding: 10px; font-size: 12px; }
.smc-inp { border: none; border-bottom: #ccc solid 1px; padding: 4px 10px; font-size: 10px; width: 100%; }
.smc-inp::placeholder { color: #cccccc; }
.smc-inp:focus { outline: none; border-bottom: #2196F3 solid 1px; }
.smc-count { font-size: 10px; height: 28px; }
.smc-grid { position: relative; box-shadow: 0px 0px 0px 1px #ccc; height: calc( 100% - 67px ); border-radius: 4px; }
.small-title { font-weight: bold; margin-bottom: 40px; }

.popup-row { float: left; width: 100%; }
.mt6 { margin-top: 6px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }

/* 그룹 */
.product-group-list { position: relative; text-align: center; background-color: ; height: calc( 100% - 218px ); overflow: auto; padding: 0px 0px 40px 0px; }
	.product-group-header { background-color: #4FC3F7; color: white; font-weight: bold; height: 37px; text-align: center; }
	.product-group-item { position: relative; cursor: pointer; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; user-select: none; z-index: 0; }
	.product-group-list .product-group-item:nth-child(2n) { background-color: #f8f8f8; }
	.product-group-list .product-group-item:last-child { border-bottom: #eee solid 2px; }
	.product-group-item:hover { box-shadow: 0px 0px 0px 1px #aaa !important; z-index: 1; }
	.product-group-item.select { box-shadow: 0px 0px 0px 1px #2196F3 !important; z-index: 2; }
	.product-group-item.unuse { color: #ccc !important; }
		
		.product-group-order { display: inline-block; float: left; padding: 10px 0px; font-size: 12px; width: 50px; margin: 0px; }
		.product-group-name { display: inline-block; float: left; padding: 10px 0px; font-size: 12px; width: calc( 100% - 300px ); margin: 0px; }
		.product-group-use { display: inline-block; float: left; padding: 10px 0px; font-size: 12px; width: 70px; }
		.product-group-regdate { display: inline-block; float: left; padding: 10px 0px; font-size: 12px; width: 90px; }
		.product-group-update { display: inline-block; float: left; padding: 10px 0px; font-size: 12px; width: 90px; }
		.product-group-item.disable { background-color: #eee; }
		.product-group-content-list { padding: 10px 0px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
			.product-group-content-item { padding: 4px 0px; height: 25px; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
				.product-group-property { float: left; width: 69px; text-align: center; border-right: #ccc solid 1px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
				.product-group-value { float: left; width: 110px; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.product-group-content-use-status { padding: 0px; border-top: #ccc solid 1px; text-align: center; font-size: 10px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.product-group-content-use-status.use { background-color: #E8F5E9; }
		.product-group-content-use-status.unuse { background-color: #eee; }
		
/* 품목 컬럼 */
.product-column-list { box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; font-size: 0px; overflow-x: auto; white-space: nowrap; text-align: center; margin-bottom: 40px; width: 100%; height: 60px; }
	.product-column-parent { position: relative; display: inline-block; font-size: 12px; padding: 0px 10px; height: 60px; background-color: #eee; box-shadow: 0px 0px 0px 1px #ccc; }
		.product-column-parent-name { position: relative; margin-top: 20px; }
		
/* 라이브러리 커스텀 */		
.ui-autocomplete.ui-widget {
	font-size: 10px;
}
</style>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">
/**
 	Polyfill
 **/
if (!String.prototype.padStart) {
    String.prototype.padStart = function padStart(targetLength,padString) {
        targetLength = targetLength>>0; //truncate if number or convert non-number to 0;
        padString = String((typeof padString !== 'undefined' ? padString : ' '));
        if (this.length > targetLength) {
            return String(this);
        }
        else {
            targetLength = targetLength-this.length;
            if (targetLength > padString.length) {
                padString += padString.repeat(targetLength/padString.length); //append to original to ensure we are longer than needed
            }
            return padString.slice(0,targetLength) + String(this);
        }
    };
}
</script>
</head>
<body>
<div class="container" style="position: relative; height: 100%;">
	<div class="row" style="position: relative; margin-top: 50px; height: calc( 100% - 50px );">
		<div class="ccol-md-12" style="position: relative; height: 100%;">
			<div class="smc-header">
				품목 관리
			</div>
			
			
			<div class="col-md-12" style="position: relative; height: calc( 100% - 68px );">
				
				
					<div class="col-md-12" style="height: 32px;">
						<div class="col-md-6">
							<div style="display: inline-block; font-size: 12px; font-weight: bold;">품목 미리보기</div>
						</div>
						<div class="col-md-6">
							<div id="save-btn" class="smc-btn blue">저장</div>
						</div>
					</div>
				<div class="col-md-12" style="position: relative;">
					<div id="product-column-list" class="product-column-list">
					</div>
				</div>
				
				
				<!-- 품목그룹 -->
				<div class="col-md-6" style="position: relative; height: calc( 100% - 172px );">
					<!-- 상단 -->
					<div class="smc-count">
						<div class="col-md-4" style="padding-top: 8px;">총 <span id="product-group-cnt-span">0</span>건</div>
						<div class="col-md-8">
							<div class="smc-btn-wrap">
								<div id="del-product-group-btn" class="smc-btn disable">삭제</div>
								<div id="mod-product-group-btn" class="smc-btn disable">수정</div>
								<div id="add-product-group-btn" class="smc-btn">추가</div>
							</div>
						</div>
					</div>
					
					<div class="smc-grid">
					
						<div class="product-group-header">
							<div class="product-group-order">순서</div>
							<div class="product-group-name">품목그룹명</div>
							<div class="product-group-use">사용여부</div>
							<div class="product-group-regdate">등록일</div>
							<div class="product-group-update">수정일</div>
						</div>
						<!-- 본문 -->
						<div id="product-group-list" class="col-md-12 product-group-list" style="position: relative; height: calc( 100% - 142px );">
							
						</div>
					</div>
					
				</div>
				
				
				<!-- 품목 -->
				<div class="col-md-6" style="position: relative; height: calc( 100% - 172px );">
					<!-- 상단 -->
					<div class="smc-count">
						<div class="col-md-3" style="padding-top: 8px;">총 <span id="product-cnt-span">0</span>건</div>
						<div class="col-md-9">
							<div class="smc-btn-wrap">
								<div id="del-product-btn" class="smc-btn disable">삭제</div>
								<div id="mod-product-btn" class="smc-btn disable">수정</div>
								<div id="move-product-group-btn" class="smc-btn disable">품목그룹으로 내보내기</div>
								<div id="move-product-btn" class="smc-btn disable">품목으로 가져오기</div>
								<div id="add-product-btn" class="smc-btn disable">추가</div>
							</div>
						</div>
					</div>
					
					<div class="smc-grid">
					
						<div class="product-group-header">
							<div class="product-group-order">순서</div>
							<div class="product-group-name">품목명</div>
							<div class="product-group-use">사용여부</div>
							<div class="product-group-regdate">등록일</div>
							<div class="product-group-update">수정일</div>
						</div>
						<!-- 본문 -->
						<div id="product-list" class="col-md-12 product-group-list" style="position: relative; height: calc( 100% - 142px );">
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
</div>

<!-- 품목그룹추가 팝업 -->
<div id="add-product-group-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none; z-index: 4;">

	<div id="add_product_group_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 88px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			품목그룹 추가
		</div>
		<div class="popup-row">
			<div class="col-md-4" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>품목그룹명
			</div>
			<div class="col-md-8">
				<input id="add-product-group-name-inp" class="smc-inp" type="text" placeholder="품목그룹명을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="add-product-group-complete-btn" class="smc-btn blue">완료</div>
					<div id="add-product-group-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- 품목추가 팝업 -->
<div id="add-product-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none; z-index: 4;">

	<div id="add_product_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 88px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			품목 추가
		</div>
		<div class="popup-row">
			<div class="col-md-4" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>품목명
			</div>
			<div class="col-md-8">
				<input id="add-product-name-inp" class="smc-inp" type="text" placeholder="품목명을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="add-product-complete-btn" class="smc-btn blue">완료</div>
					<div id="add-product-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- 수정 팝업 -->
<div id="product-group-mod-popup" class="smc-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none; z-index: 9999;">

	<div id="product-group-mod_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 88px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			품목그룹 수정
		</div>
		<div class="popup-row">
			<div class="col-md-4" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>품목그룹명
			</div>
			<div class="col-md-8">
				<input id="product-group-mod-name-inp" class="smc-inp" type="text" placeholder="소속명을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt10">
			<div class="col-md-4" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>사용여부
			</div>
			<div class="col-md-8">
				<div id="product-group-mod-use-btn" class="smc-btn" style="float: left;">사용</div>
				<div id="product-group-mod-unuse-btn" class="smc-btn"  style="float: left;">미사용</div>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-offset-4 col-md-8" style="font-size: 10px; color: #616161;">
				&nbsp; ※미사용은 정산을 수행할 수 없습니다.
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="product-group-mod-complete-btn" class="smc-btn blue">완료</div>
					<div id="product-group-mod-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">

/**
	jquery 변수
**/

var $window = $(window); // 윈도우
var $body = $("body"); // 바디

// 컬럼
$productColumnList = $("#product-column-list"); // 컬럼 목록
 
// 상단 버튼 부분
var $addProductGroupBtn = $("#add-product-group-btn"); // 품목그룹 추가 버튼
var $delProductGroupBtn = $("#del-product-group-btn"); // 품목그룹 삭제 버튼
var $productGroupModBtn = $("#mod-product-group-btn"); // 수정 버튼

var $addProductBtn = $("#add-product-btn"); // 품목 추가 버튼
var $delProductBtn = $("#del-product-btn"); // 품목그룹 삭제 버튼
var $productModBtn = $("#mod-product-btn"); // 수정 버튼

var $saveBtn = $("#save-btn"); // 저장 버튼

// 품목그룹 추가 팝업 부분
var $addProductGroupPopup = $("#add-product-group-popup"); // 품목그룹 추가 팝업 ( 배경포함 )
var $addProductGroupPopupContent = $("#add_product_group_popup_content"); // 품목그룹 추가 팝업 ( 내용 )
var $addProductGroupCancelBtn = $("#add-product-group-cancel-btn"); // 품목그룹 추가 팝업 - 취소 버튼
var $addProductGroupCompleteBtn = $("#add-product-group-complete-btn"); // 품목그룹 추가 팝업 - 완료 버튼
var $addProductGroupNameInp = $("#add-product-group-name-inp"); // 품목그룹 추가 팝업 - 품목그룹명 입력창

// 품목그룹 수정 수정 팝업 부분
var $productGroupModPopup = $("#product-group-mod-popup"); // 수정 팝업 ( 배경 포함 )
var $productGroupModPopupContent = $("#product-group-mod_popup_content"); // 수정 팝업 ( 내용 )
var $productGroupModCancelBtn = $("#product-group-mod-cancel-btn"); // 취소 버튼
var $productGroupModCompleteBtn = $("#product-group-mod-complete-btn"); // 완료 버튼
var $productGroupModGroupNameInp = $("#product-group-mod-name-inp"); // 수정 팝업 - 소속명 입력창
var $productGroupModUseBtn = $("#product-group-mod-use-btn"); // 사용 버튼
var $productGroupModUnuseBtn = $("#product-group-mod-unuse-btn"); // 사용 버튼

// 품목그룹 추가 팝업 부분
var $addProductPopup = $("#add-product-popup"); // 품목그룹 추가 팝업 ( 배경포함 )
var $addProductPopupContent = $("#add_product_popup_content"); // 품목그룹 추가 팝업 ( 내용 )
var $addProductCancelBtn = $("#add-product-cancel-btn"); // 품목그룹 추가 팝업 - 취소 버튼
var $addProductCompleteBtn = $("#add-product-complete-btn"); // 품목그룹 추가 팝업 - 완료 버튼
var $addProductNameInp = $("#add-product-name-inp"); // 품목그룹 추가 팝업 - 품목그룹명 입력창

// 품목그룹 수정 수정 팝업 부분
var $ProductModPopup = $("#product-mod-popup"); // 수정 팝업 ( 배경 포함 )
var $ProductModPopupContent = $("#product-mod_popup_content"); // 수정 팝업 ( 내용 )
var $ProductModCancelBtn = $("#product-mod-cancel-btn"); // 취소 버튼
var $ProductModCompleteBtn = $("#product-mod-complete-btn"); // 완료 버튼
var $ProductModGroupNameInp = $("#product-mod-name-inp"); // 수정 팝업 - 소속명 입력창
var $ProductModUseBtn = $("#product-mod-use-btn"); // 사용 버튼
var $ProductModUnuseBtn = $("#product-mod-unuse-btn"); // 사용 버튼

// 그룹 목록 부분
var $productGroupList = $("#product-group-list"); // 품목그룹 목록
var $productList = $("#product-list"); // 품목 목록
var $productGroupCntSpan = (function(){
	
	var $this = $("#product-group-cnt-span"); // 그룹수
	$this.update = function(){
		var cnt = $productGroupList.find(".product-group-item").filter(":visible").length;
		$this.text( cnt );
		return $this;
	};
	return $this;
	
})();
var $productCntSpan = (function(){
	
	var $this = $("#product-cnt-span"); // 그룹수
	$this.update = function(){
		var cnt = $productList.find(".product-group-item").filter(":visible").length;
		$this.text( cnt );
		return $this;
	};
	return $this;
	
})();

function updateProductGroupItemsOrder(){
	
	var $items = $productGroupList.find(".product-group-item");
	for( var i=0; i<$items.length; ++i ){
		var $item = $items.eq( i );
		$item.updateProductGroupOrder();
	}
	
}
 
/**
	모듈
 **/
 
 var TimeModule = {
		
		now: function(){
			var now = new Date();
			var yyyy = now.getFullYear().toString();
			var MM = ( now.getMonth() + 1 ).toString().padStart( 2, 0 );
			var dd = now.getDate().toString().padStart( 2, 0 );
			var hh = now.getHours().toString().padStart( 2, 0 );
			var mm = now.getMinutes().toString().padStart( 2, 0 );
			var ss = now.getSeconds().toString().padStart( 2, 0 );
			return {
				object: now,
				yyyy: yyyy,
				MM: MM,
				dd: dd,
				hh: hh,
				mm: mm,
				ss: ss
			}
		}
		
};
 
 // jQuery 템플릿 모듈
var $TemplateModule = (function(){
 
	var template = {
	
		"product-group-item": [
			'<div class="product-group-item">',
				'<div class="product-group-order">',
				'</div>',
				'<div class="product-group-name">',
				'</div>',
				'<div class="product-group-use">',
				'</div>',
				'<div class="product-group-regdate">',
				'</div>',
				'<div class="product-group-update">',
				'</div>',
			'</div>'
		].join(""),
		
		"product-column-parent": [
			'<div class="product-column-parent">',
				'<div class="product-column-parent-name">5G/L</div>',
			'</div>'
		].join("")
	 
	};

	return {
	
		// jQuery 신규 제품그룹 객체 생성
		createProduct: (function(){
		
			// 현재 UI 순서로 갱신
			$.fn.updateProductGroupOrder = function updateProductGroupOrder(){
				
				var $productGroupItems = this.parent().find(".product-group-item");
				var gridIndex = $productGroupItems.index( this );
				this.data( "order", gridIndex );
				
				var $column = this.data( "$column" );
				if( this.hasClass("unuse") ){
					this.find(".product-group-order").text( "-" );
					$column.detach();
				}else{
					var $usedProductGroupItems = $productGroupItems.not(".unuse");
					var columnIndex = $usedProductGroupItems.index( this );
					this.find(".product-group-order").text( columnIndex + 1 );
					var $columns = $productColumnList.find( ".product-column-parent" );
					$column.insertAfter( $columns.eq( columnIndex ) );
				}
				
				
			};
			// 현재 UI 순서로 갱신
			$.fn.updateProductOrder = function updateProductOrder(){
				
				var $productItems = this.parent().find(".product-group-item");
				var gridIndex = $productItems.index( this );
				this.data( "order", gridIndex );
				
				var $column = this.data( "$column" );
				if( this.hasClass("unuse") ){
					this.find(".product-group-order").text( "-" );
					$column.detach();
				}else{
					var $usedProductItems = $productItems.not(".unuse");
					var columnIndex = $usedProductItems.index( this );
					this.find(".product-group-order").text( columnIndex + 1 );
					var $columns = $productColumnList.find( ".product-column-parent" );
					$column.insertAfter( $columns.eq( columnIndex ) );
				}
				
				
			};
		
			// 부모아이디 조회
			$.fn.getParentId = function getParentId(){
				return this.data("parentId");
			};
			
			// 이름 설정
			$.fn.setParentId = function setParentId( parentId ){
				this.data("parentId", parentId);
			};
		
			// 이름 조회
			$.fn.getName = function getName(){
				return this.data("name");
			};
			
			// 이름 설정
			$.fn.setName = function setName( name ){
				this.data("name", name);
				this.find(".product-group-name").text(name);
				this.data("$column").find(".product-column-parent-name").text( name );
			};
			
			// 사용여부 조회
			$.fn.getUse = function(){
				return this.data("use"); 
			};
		
			// 삭제가능 여부
			$.fn.setEnableDelete = function( enableDelete ){
				this.data("enableDelete", enableDelete);
				if( enableDelete == false ){
					this.addClass("disable");
				}
			};
		
			// 사용여부 설정
			$.fn.setUse = function( bool ){
				this.data("use", bool);
				if( bool == true ){
					this.find(".product-group-use").text("사용");
					this.removeClass("unuse");
					this.data("$column").show();
				}else{
					this.find(".product-group-use").text("미사용");
					this.addClass("unuse");
					this.data("$column").hide();
				}
			};
		
			// 수정일 갱신
			$.fn.updateDate = function updateDate(){
				var now = TimeModule.now();
				this.data( "updateDate", now.yyyy + now.MM + now.dd + now.hh + now.mm + now.ss );
				this.find( ".product-group-update" ).text( now.yyyy + "-" + now.MM  + "-" + now.dd );
			};
			
			// 저장용 데이터
			$.fn.getSaveData = function getSaveData(){
				
				var data = this.data();
				return data; 
			
			};
		
			return function( parentId, id, name, use, enableDelete, createDate, updateDate ){
		 
				var $clone = $( template[ "product-group-item" ] );
				var $column = $( template[ "product-column-parent" ] );
				$column.appendTo( $productColumnList );
				$clone.data({
					parentId: null,
					id: null,
					name: null,
					use: null,
					enableDelete: null,
					createDate: null,					
					updateDate: null,
					$column: $column
				});
				
				// 품목그룹 아이디
				$clone.setParentId( parentId );
				
				// 아이디
				if( id == null ){
					id = "PRG::" + ( Date.now() + Math.random() ).toString().replace(".", "");
				}
				$clone.data( "id", id );
				
				// 소속명 ( 필수값 )
				$clone.setName( name );
				
				// 사용여부
				if( use == null ){
					use = true;
				}
				$clone.setUse( use );
				
				if( enableDelete == null ){
					enableDelete = true;
				}
				$clone.setEnableDelete( enableDelete );
				
				// 등록일
				if( createDate == null ){
					var now = TimeModule.now();
					$clone.data( "createDate", now.yyyy + now.MM + now.dd + now.hh + now.mm + now.ss );
					$clone.find( ".product-group-regdate" ).text( now.yyyy + "-" + now.MM  + "-" + now.dd );
				}else{
					var yyyy = createDate.slice( 0, 4 );
					var MM = createDate.slice( 4, 6 );
					var dd = createDate.slice( 6, 8 );
					var hh = createDate.slice( 8, 10 );
					var mm = createDate.slice( 10, 12 );
					var ss = createDate.slice( 12, 14 );
					$clone.data( "createDate", yyyy + MM + dd + hh + mm + ss );
					$clone.find( ".product-group-regdate" ).text( yyyy + "-" + MM  + "-" + dd );
				}
				
				// 수정일
				if( updateDate == null ){
					$clone.updateDate();
				}else{
					var yyyy = updateDate.slice( 0, 4 );
					var MM = updateDate.slice( 4, 6 );
					var dd = updateDate.slice( 6, 8 );
					var hh = updateDate.slice( 8, 10 );
					var mm = updateDate.slice( 10, 12 );
					var ss = updateDate.slice( 12, 14 );
					$clone.data( "updateDate", yyyy + MM + dd + hh + mm + ss );
					$clone.find( ".product-group-update" ).text( yyyy + "-" + MM  + "-" + dd );
				}
				
				return $clone;
				 
			}
		 
		})()
	
	};

})();
 
 alert("품목추가시, 컬럼 미리보기 갱신해야됌")
 
/****************************************
	데이터 로드
****************************************/
var ProductModule = {
		
		map: {},
		add: function( parentId, $item ){
			
			if( ProductModule.map[ parentId ] == null ){
				ProductModule.map[ parentId ] = [];
			}
			ProductModule.map[ parentId ].push( $item );
			
		},
		remove: function( id ){
			
		}
		
};
var products = <%- products %>;
for( var i=0; i<products.length; ++i ){
	var product = products[ i ];
	var $productGroup = $TemplateModule.createProduct( product.parentId, product.id, product.name, product.use, product.enableDelete, product.createDate, product.updateDate );
	if( product.parentId == "TOP" ){
		$productGroup.appendTo( $productGroupList );
	}
	ProductModule.add( product.parentId, $productGroup );
	
}
updateProductGroupItemsOrder();

//수량 표시 갱신
$productGroupCntSpan.update();

 
/****************************************
	이벤트
****************************************/

// 품목그룹 추가 버튼 클릭 이벤트
$addProductGroupBtn.on("click", function(){
	
	// 팝업 표시
	$addProductGroupPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$addProductGroupNameInp.focus();
	$addProductGroupPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
});

// 품목 추가 버튼 클릭 이벤트
$addProductBtn.on("click", function(){
	
	// 팝업 표시
	$addProductPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$addProductNameInp.focus();
	$addProductPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
});

// 추가팝업 - 취소 버튼 클릭 이벤트
$addProductGroupCancelBtn.on("click", function(){
	
	// 팝업 제거
	parent.showNav( 500 );
	$addProductGroupPopup.fadeOut( 500 );
	$addProductGroupPopupContent.css( { "margin-top": "0px" } ).animate( { "margin-top": "-40px" }, 500 );
	
});

// 품목그룹 추가팝업 - 완료 버튼 클릭 이벤트
$addProductGroupCompleteBtn.on("click", function(){
	
	var newGroupName = $addProductGroupNameInp.val().trim();
	if( newGroupName == "" ){
		alert( "품목그룹명이 비어있습니다." );
		return;
	}
	
	var $groupItems = $productGroupList.find( ".product-group-item" );
	for( var i=0; i<$groupItems.length; ++i ){
		var groupName =  $groupItems.eq( i ).getName();
		if( newGroupName == groupName ){
			alert( "이미 존재하는 품목그룹명 입니다." );
			return;
		}
	}
	
	var $groupItem = $TemplateModule.createProduct( "TOP", null, newGroupName );
	ProductModule.add( "TOP", $groupItem );
	
	// 팝업 제거
	parent.showNav( 500 );
	$addProductGroupPopup.fadeOut( 500 );
	$addProductGroupPopupContent.css( { "margin-top": "0px" } );
	$addProductGroupPopupContent.animate( { "margin-top": "-40px" }, 500, function(){
		
		// 넓어지는 애니메이션으로 표시
		$groupItem.css( { "height": "0px" } );
		$groupItem.appendTo( $productGroupList );
		updateProductGroupItemsOrder();
		
		$groupItem.animate( { "height": "37px" }, 500 );
		
		// 수량 표시 갱신
		$productGroupCntSpan.update();
		
		// 팝업 그룹명 제거
		$addProductGroupNameInp.val("");
		
	} );
	
});

// 품목 추가팝업 - 완료 버튼 클릭 이벤트
$addProductCompleteBtn.on("click", function(){
	
	var newGroupName = $addProductNameInp.val().trim();
	if( newGroupName == "" ){
		alert( "품목명이 비어있습니다." );
		return;
	}
	
	var $groupItems = $productList.find( ".product-group-item" );
	for( var i=0; i<$groupItems.length; ++i ){
		var groupName =  $groupItems.eq( i ).getName();
		if( newGroupName == groupName ){
			alert( "이미 존재하는 품목명 입니다." );
			return;
		}
	}
	
	var $selectedGroupItem = $productGroupList.find(".product-group-item.select");
	var parentId = $selectedGroupItem.getParentId();
	var $groupItem = $TemplateModule.createProduct( parentId, null, newGroupName );
	ProductModule.add( parentId, $groupItem );
	
	// 팝업 제거
	parent.showNav( 500 );
	$addProductPopup.fadeOut( 500 );
	$addProductPopupContent.css( { "margin-top": "0px" } );
	$addProductPopupContent.animate( { "margin-top": "-40px" }, 500, function(){
		
		// 넓어지는 애니메이션으로 표시
		$groupItem.css( { "height": "0px" } );
		$groupItem.appendTo( $productList );
		updateProductGroupItemsOrder();
		
		$groupItem.animate( { "height": "37px" }, 500 );
		
		// 수량 표시 갱신
		$productCntSpan.update();
		
		// 팝업 그룹명 제거
		$addProductNameInp.val("");
		
	} );
	
});

// 그룹명 입력 이벤트
$addProductGroupNameInp.on("keypress", function( e ){
	
	// 엔터키 == 완료버튼 클릭
	if( e.keyCode == 13 ){
		
		$addProductGroupCompleteBtn.trigger("click");
		
	}
	
});

// 그룹순서 변경
(function(){
	
	var $select = null;
	var isMousedown = false;
	
	// 그룹아이템 마우스다운 이벤트
	$productGroupList.on("mousedown", ".product-group-item", function(){
		
		isMousedown = true;
		
		// 기존 선택 제거
		var $this = $(this);
		
		$productGroupList.find(".product-group-item").not( $this ).removeClass( "select" );
		$this.addClass("select");
		
		$delProductGroupBtn.removeClass( "disable" );
		$productGroupModBtn.removeClass( "disable" );
		$addProductBtn.removeClass( "disable" );
		$select = $this;
		
	});
	
	$productGroupList.on("mousemove", ".product-group-item", function(){
		
		if( isMousedown == false ){
			return;
		}
		
		if( $select == null ){
			return;
		}
		
		$select.css( { cursor: "move" } );
		
	});
	
	$productGroupList.on("mouseenter", ".product-group-item", function(){
		
		if( isMousedown == false ){
			return;
		}
		
		if( $select == null ){
			return;
		}
		
		var $this = $(this);
		if( $select.get(0) == $this.get(0) ){
			return;
		}

		var mouseenterIdx = $productGroupList.find( ".product-group-item" ).index( $this );
		var moveIdx = $productGroupList.find( ".product-group-item" ).index( $select );
		
		if( moveIdx > mouseenterIdx ){
			$this.before( $select );
		}else{
			$this.after( $select );
		}
		
		updateProductGroupItemsOrder();
		
	});
	
	$productGroupList.on("mouseup", ".product-group-item", function( e ){
		
		// 기존 선택 제거
		var $select = $productGroupList.find(".product-group-item.select");
		$select.css( { cursor: "pointer" } );
		isMousedown = false;
		
	});
	
})();

// 삭제 버튼 클릭 이벤트
$delProductGroupBtn.on("click", function(){
	
	// 활성화된 경우만 기능 동작
	if( $delProductGroupBtn.hasClass("disable") ){
		return;
	}
	
	var $selectedGroupItem = $productGroupList.find(".product-group-item.select");
	var groupName = $selectedGroupItem.getName();
	if( confirm( "'" + groupName + "'을 삭제하시겠습니까?\n하위에 포함된 '품목'은 모두 '품목그룹'으로 변경됩니다." ) ){
		
		// 삭제모션
		$selectedGroupItem.animate( { "height": "0px" }, 500, function(){
			
			// 삭제
			var $column = $selectedGroupItem.data( "$column" );
			$column.remove();
			$selectedGroupItem.remove();
			
			// 수량 표시 갱신
			$productGroupCntSpan.update();
			
			// 버튼 비활성화
			$delProductGroupBtn.addClass( "disable" );
			$productGroupModBtn.addClass( "disable" );
			updateProductGroupItemsOrder();
			
		} );
		
		
	}
	
});

// 수정 버튼 클릭 이벤트
$productGroupModBtn.on("click", function(){
	
	// 활성화된 경우만 기능 동작
	if( $delProductGroupBtn.hasClass("disable") ){
		return;
	}
	
	// 선택된 소속
	var $selectedGroupItem = $productGroupList.find(".product-group-item.select");
	var groupName = $selectedGroupItem.getName();
	
	// 이름 설정
	$productGroupModGroupNameInp.val( groupName );
	
	// 사용여부 설정
	var use = $selectedGroupItem.getUse();
	if( use ){
		$productGroupModUseBtn.addClass("select");
		$productGroupModUnuseBtn.removeClass("select");
	}else{
		$productGroupModUnuseBtn.addClass("select");
		$productGroupModUseBtn.removeClass("select");
	}
	
	// 팝업 표시
	$productGroupModPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$productGroupModPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
	// 입력창 포커스 ( show 이후에 처리 필요 )
	$productGroupModGroupNameInp.focus();
	
});

// 수정팝업 - 사용 버튼 클릭 이벤트
$productGroupModUseBtn.on("click", function(){
	
	$productGroupModUseBtn.addClass("select");
	$productGroupModUnuseBtn.removeClass("select");
	
	
});

// 수정팝업 - 미사용 버튼 클릭 이벤트
$productGroupModUnuseBtn.on("click", function(){
	
	$productGroupModUnuseBtn.addClass("select");
	$productGroupModUseBtn.removeClass("select");
	
	
});

// 수정팝업 - 취소 버튼 클릭 이벤트
$productGroupModCancelBtn.on("click", function(){
	
	// 팝업 제거
	parent.showNav( 500 );
	$productGroupModPopup.fadeOut( 500 );
	$productGroupModPopupContent.css( { "margin-top": "0px" } ).animate( { "margin-top": "-40px" }, 500 );
	
});

// 수정팝업 - 완료 버튼 클릭 이벤트
$productGroupModCompleteBtn.on("click", function(){
	
	var newGroupName = $productGroupModGroupNameInp.val().trim();
	if( newGroupName == "" ){
		alert( "그룹명이 비어있습니다." );
		return;
	}
	
	// 선택된 소속
	var $selectedGroupItem = $productGroupList.find(".product-group-item.select");
	
	// 그룹명이 달라진 경우만 그룹명 검증
	var beforeGroupName = $selectedGroupItem.getName();
	if( beforeGroupName != newGroupName ){
		var $groupItems = $productGroupList.find( ".product-group-item" );
		for( var i=0; i<$groupItems.length; ++i ){
			var groupName =  $groupItems.eq( i ).getName();
			if( newGroupName == groupName ){
				alert( "이미 존재하는 그룹명 입니다." );
				return;
			}
		}
	}
	
	// 소속명 설정
	$selectedGroupItem.setName( newGroupName );
	
	// 사용여부 설정
	var use = $productGroupModUseBtn.hasClass("select");
	$selectedGroupItem.setUse( use );
	
	// 수정일 갱신
	$selectedGroupItem.updateDate();
	
	// 팝업 제거
	parent.showNav( 500 );
	$productGroupModPopup.fadeOut( 500 );
	$productGroupModPopupContent.css( { "margin-top": "0px" } );
	$productGroupModPopupContent.animate( { "margin-top": "-40px" }, 500, function(){
		
		updateProductGroupItemsOrder();
		
	} );
	
});

// 저장 버튼 클릭 이벤트
$saveBtn.on("click", function(){
	
	 var groups = [];
	 var $groupItems = $productGroupList.find(".product-group-item");
	 for( var i=0; i<$groupItems.length; ++i ){
		 var $groupItem = $groupItems.eq( i );
		 groups.push( $groupItem.getSaveData() );
	 }
	 
	 $.ajax({
		
		 url: "/product/management/save",
		 type: "post",
		 headers: {
	     	"Content-Type": "application/json"
	     },
		 data: JSON.stringify( groups ),
		 dataType: "json",
		 success: function( res ){
			 
			 if( res.result == "SUCCESS" ){
				 alert( "저장되었습니다." );
			 }else{
				 alert( "실패하였습니다.\n관리자에게 문의바랍니다." );
			 }
			 
		 }
		 
	 });
	
});


function updateBodyHeight(){
	$body.css("height", window.innerHeight + "px");
}
updateBodyHeight();

// 윈도우 크기 변경 이벤트
$window.on("resize", function(){
	updateBodyHeight();
});

</script>
</body>
</html>