<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8">
<title>신나라유통 ERP > employee > management</title>
<link rel="stylesheet" href="/lib/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/lib/bootstrap/bootstrap-datepicker.min.css">
<style type="text/css">
body { margin: 0px; padding: 0px; overflow: hidden; font-family: sans-serif; color: #616161; }
.smc-btn { float: right; display: inline-block; padding: 4px 10px; vertical-align: bottom; font-weight: bold; font-size: 10px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; cursor: pointer; margin-left: 4px; }
.smc-btn:not(.disable):hover { box-shadow: 0px 0px 1px 1px #aaa; !important; }
.smc-btn.select { box-shadow: 0px 0px 1px 1px #2196F3 !important; }
.smc-btn.blue { background-color: #2196F3; color: white; box-shadow: 0px 0px 0px 1px #64B5F6; }
.smc-btn.bluegray { background-color: #607D8B; color: white; box-shadow: 0px 0px 0px 1px #90A4AE; }
.smc-btn.disable { background-color: #eee; color: #aaa; cursor: not-allowed; }
.smc-header { font-size: 20px; padding: 10px; color: #222; font-weight: bold; margin-bottom: 20px; }
.smc-desc { background-color: #eee; color: #616161; padding: 10px; font-size: 12px; }
.smc-inp { border: none; border-bottom: #ccc solid 1px; padding: 4px 10px; font-size: 10px; width: 100%; }
.smc-inp::placeholder { color: #cccccc; }
.smc-inp:focus { outline: none; border-bottom: #2196F3 solid 1px; }
.smc-select { width: 100px; border: #ccc solid 1px; padding-left: 4px; border-radius: 4px; font-size: 12px; }
.smc-count { font-size: 10px; border-bottom: #ccc solid 2px; height: 32px; }
.small-title { font-weight: bold; margin-bottom: 40px; }


.popup-row { float: left; width: 100%; }
.mt6 { margin-top: 6px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }

/* 그룹 */
.employee-list { position: relative; text-align: center; background-color: ; height: calc( 100% - 140px ); overflow: auto; padding: 40px 0px; }
	.employee-item { cursor: pointer; display: inline-block; width: 240px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; margin: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; user-select: none; }
	.employee-item.select { box-shadow: 0px 0px 2px 1px #2196F3 !important; }
	.employee-item:hover { box-shadow: 0px 0px 2px 1px #aaa; }
		.employee-name { padding: 4px 0px; border-bottom: #ccc solid 1px; text-align: center; background-color: #00BCD4; color: white; font-weight: bold; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.employee-image { margin-top: 20px; margin-bottom: 20px; margin-left: calc( 50% - 25px ); width: 50px; height: 50px; box-shadow: 0px 0px 0px 2px #CFD8DC; border-radius: 50px; background-image: url(/image/default-user.png); background-size: auto 100%; background-position: center; background-repeat: no-repeat; }
		.employee-item.disable .employee-name { background-color: #607D8B; }
		.employee-content-list { padding: 10px 0px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background-color: #f9f9f9; }
			.employee-content-item { padding: 4px 0px; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
				.employee-property { float: left; width: 89px; padding-right: 10px; text-align: right; border-right: #ccc solid 1px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
				.employee-value { float: left; width: 120px; padding-left: 10px; text-align: left; white-space: pre; text-overflow: ellipsis; overflow: hidden; }
		.employee-content-use-status { padding: 0px; border-top: #ccc solid 1px; text-align: center; font-size: 10px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.employee-content-use-status.use { background-color: #E8F5E9; }
		.employee-content-use-status.unuse { background-color: #eee; }

/* 라이브러리 커스텀 */		
.ui-autocomplete.ui-widget {
  font-size: 10px;
}
</style>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<script src="/lib/bootstrap/bootstrap-datepicker.min.js"></script>
<script src="/lib/bootstrap/bootstrap-datepicker.ko.min.js"></script>
<script type="text/javascript">
/**
 	Polyfill
 **/
if (!String.prototype.padStart) {
    String.prototype.padStart = function padStart(targetLength,padString) {
        targetLength = targetLength>>0; //truncate if number or convert non-number to 0;
        padString = String((typeof padString !== 'undefined' ? padString : ' '));
        if (this.length > targetLength) {
            return String(this);
        }
        else {
            targetLength = targetLength-this.length;
            if (targetLength > padString.length) {
                padString += padString.repeat(targetLength/padString.length); //append to original to ensure we are longer than needed
            }
            return padString.slice(0,targetLength) + String(this);
        }
    };
}

$(function(){
	
	$("input[type='phone']").keydown(function( e ) {
		
		this.value = this.value.replace( /[\a-zㄱ-ㅎㅏ-ㅣ가-힣]/g, "" );
		
	});
	
	$("input").focus(function(){
		
		this.select();
		
	});
	
});



</script>
</head>
<body>
<div class="container" style="position: relative; height: 100%;">
	<div class="row" style="position: relative; margin-top: 50px; height: calc( 100% - 50px );">
		<div class="col-md-12" style="position: relative; height: 100%;">
			<div class="smc-header">
				직원 관리
			</div>
			<div class="col-md-12" style="position: relative; height: calc( 100% - 68px );">
			
				<div style="padding: 20px 0px; background-color: #eee; margin-bottom: 40px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; font-size: 12px; height: 60px;">
					<div class="col-md-12">
						<div style="float: left; display: inline-block; margin: 1px 10px 0px 10px;">소속</div>
						<div style="float: left; display: inline-block;">
							<select id="search-group-sel" class="smc-select" style="width: 70px;">
								<option value="ALL" selected="selected">전체</option>
							</select>
						</div>
						<div style="float: left; display: inline-block; margin: 1px 10px 0px 20px;">사용여부</div>
						<div style="float: left; display: inline-block;">
							<select id="search-use-sel" class="smc-select" style="width: 70px;">
								<option value="ALL" selected="selected">전체</option>
								<option value="USE">사용</option>
								<option value="UNUSE">미사용</option>
							</select>
						</div>
						<div style="float: left; display: inline-block; margin: 1px 10px 0px 20px;">이름</div>
						<div style="float: left; display: inline-block;">
							<input id="search-employee-name-inp" type="text" style="font-size: 12px; border: #ccc solid 1px; padding: 1px 0px 0px 4px; width: 100px; border-radius: 4px;">
						</div>
						<div style="float: left; display: inline-block; margin: 1px 10px 0px 20px;">메모</div>
						<div style="float: left; display: inline-block;">
							<input id="search-employee-memo-inp" type="text" style="font-size: 12px; border: #ccc solid 1px; padding: 1px 0px 0px 4px; width: 100px; border-radius: 4px;">
						</div>
						<div id="search-btn" class="smc-btn bluegray" style="height: 20px; padding-top: 3px;">검색</div>
					</div>
				</div>
			
				<!-- 상단 -->
				<div class="smc-count">
					<div class="col-md-6" style="padding-top: 8px;">총 <span id="employee-cnt-span">0</span>건</div>
					<div class="col-md-6">
						<div class="smc-btn-wrap">
							<div id="save-btn" class="smc-btn blue">저장</div>
							<div id="del-btn" class="smc-btn disable">삭제</div>
							<div id="mod-btn" class="smc-btn disable">수정</div>
							<div id="add-btn" class="smc-btn">추가</div>
						</div>
					</div>
				</div>
				
				<!-- 본문 -->
				<div id="employee-list" class="col-md-12 employee-list" style="height: calc( 100% - 132px );">
				</div>
				
				<!-- 하단 -->
				<div class="col-md-12" style="height: 60px;"></div>
				
			</div>
			
		</div>
		
	</div>
</div>

<!-- 추가 팝업 -->
<div id="add-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none;">

	<div id="add_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 238px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			직원 추가
		</div>
		<div class="popup-row">
			<div class="col-md-12">
				<div id="add-employee-img" class="employee-image" style="background-image: url(/image/default-user.png); border-radius: 50px;">
					<div id="add-employee-image-btn" class="add-employee-image-btn" style="margin-top: 32px; margin-right: -5px; float: right; padding: 4px; background-image: url(/image/camera.png); background-size: 12px 12px; background-position: center; background-repeat: no-repeat; background-color: white; border-radius: 50px; box-shadow: 0px 0px 0px 1px #ccc; width: 20px; height: 20px; cursor: pointer;">
						<input id="add-employee-image-inp" type="file" style="display: none;" accept="image/*">
					</div>
				</div>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>소속
			</div>
			<div class="col-md-9">
				<select id="add-employee-group-sel" class="smc-select">
					<option value="NO_SELECT" selected="selected">선택</option>
				</select>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>이름
			</div>
			<div class="col-md-9">
				<input id="add-employee-name-inp" class="smc-inp" type="text" placeholder="ex) 홍길동">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				차번호
			</div>
			<div class="col-md-9">
				<input id="add-employee-car-inp" class="smc-inp" type="text"  placeholder="ex) 00가0000">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				연락처
			</div>
			<div class="col-md-9">
				<input id="add-employee-phone-inp" class="smc-inp" type="phone" placeholder="ex) 010-0000-0000">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				이메일
			</div>
			<div class="col-md-9">
				<input id="add-employee-mail-inp" class="smc-inp" type="text" placeholder="ex) xxxxx@xxxx.xxx">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				생년월일
			</div>
			<div class="col-md-9">
				<input id="add-employee-birthday-inp" class="smc-inp cal-inp" type="text" placeholder="ex) 2020-01-31">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				메모
			</div>
			<div class="col-md-9">
				<textarea id="add-employee-memo-inp" class="smc-inp" style="height: 52px;" placeholder="특이사항을 입력하주세요."></textarea>
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="add-complete-btn" class="smc-btn blue">완료</div>
					<div id="add-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- 수정 팝업 -->
<div id="mod-popup" class="smc-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none;">

	<div id="mod_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 267px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			직원 수정
		</div>
		<div class="popup-row">
			<div class="col-md-12">
				<div id="mod-employee-img" class="employee-image" style="background-image: url(/image/default-user.png); border-radius: 50px;">
					<div id="mod-employee-image-btn" class="mod-employee-image-btn" style="margin-top: 32px; margin-right: -5px; float: right; padding: 4px; background-image: url(/image/camera.png); background-size: 12px 12px; background-position: center; background-repeat: no-repeat; background-color: white; border-radius: 50px; box-shadow: 0px 0px 0px 1px #ccc; width: 20px; height: 20px; cursor: pointer;">
						<input id="mod-employee-image-inp" type="file" style="display: none;" accept="image/*">
					</div>
				</div>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>소속
			</div>
			<div class="col-md-9">
				<select id="mod-employee-group-sel" class="smc-select">
					<option value="NO_SELECT" selected="selected">선택</option>
				</select>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>이름
			</div>
			<div class="col-md-9">
				<input id="mod-employee-name-inp" class="smc-inp" type="text" placeholder="ex) 홍길동">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				차번호
			</div>
			<div class="col-md-9">
				<input id="mod-employee-car-inp" class="smc-inp" type="text" placeholder="ex) 00가0000">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				연락처
			</div>
			<div class="col-md-9">
				<input id="mod-employee-phone-inp" class="smc-inp" type="phone" placeholder="ex) 010-0000-0000">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				이메일
			</div>
			<div class="col-md-9">
				<input id="mod-employee-mail-inp" class="smc-inp" type="text" placeholder="ex) xxxxx@xxxx.xxx">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				생년월일
			</div>
			<div class="col-md-9">
				<input id="mod-employee-birthday-inp" class="smc-inp cal-inp" type="text" placeholder="ex) 2020-01-31">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				메모
			</div>
			<div class="col-md-9">
				<textarea id="mod-employee-memo-inp" class="smc-inp" style="height: 52px;" placeholder="특이사항을 입력하주세요."></textarea>
			</div>
		</div>
		<div class="popup-row mt10">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>사용여부
			</div>
			<div class="col-md-9">
				<div id="mod-use-btn" class="smc-btn" style="float: left;">사용</div>
				<div id="mod-unuse-btn" class="smc-btn"  style="float: left;">미사용</div>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-offset-3 col-md-9" style="font-size: 10px; color: #616161;">
				&nbsp; ※미사용 직원은 정산을 수행할 수 없습니다.
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="mod-complete-btn" class="smc-btn blue">완료</div>
					<div id="mod-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">

/**
	jquery 변수
 **/

var $window = $(window); // 윈도우
var $body = $("body"); // 바디
 
// 상단 검색
var $searchGroupSel = $("#search-group-sel"); // 소속 선택창
var $searchUseSel = $("#search-use-sel"); // 사용여부 선택창
var $searchBtn = $("#search-btn"); // 검색 버튼
var $searchEmployeeNameInp = $("#search-employee-name-inp"); // 직원명 검색 입력창
var $searchEmployeeMemoInp = $("#search-employee-memo-inp"); // 특이사항 검색 입력창
 
// 상단 버튼 부분
var $addBtn = $("#add-btn"); // 추가 버튼
var $delBtn = $("#del-btn"); // 삭제 버튼
var $modBtn = $("#mod-btn"); // 수정 버튼
var $saveBtn = $("#save-btn"); // 저장 버튼

// 추가팝업 부분
var $addPopup = $("#add-popup"); // 추가 팝업 ( 배경포함 )
var $addPopupContent = $("#add_popup_content"); // 추가 팝업 ( 내용 )
var $addCancelBtn = $("#add-cancel-btn"); // 취소 버튼
var $addCompleteBtn = $("#add-complete-btn"); // 완료 버튼

var $addEmployeeImg = $("#add-employee-img"); // 이미지
var $addEmployeeImageBtn = $("#add-employee-image-btn"); // 이미지 추가 버튼
var $addEmployeeImageInp = $("#add-employee-image-inp"); // 이미지 파일 입력창
var $addEmployeeGroupSel = $("#add-employee-group-sel"); // 추가 팝업 - 소속 선택창
var $addEmployeeNameInp = $("#add-employee-name-inp"); // 추가 팝업 - 직원명 입력창
var $addEmployeeCarInp = $("#add-employee-car-inp"); // 추가 팝업 - 차번호 입력창
var $addEmployeePhoneInp = $("#add-employee-phone-inp"); // 추가 팝업 - 연락처 입력창
var $addEmployeeMailInp = $("#add-employee-mail-inp"); // 추가 팝업 - 메일 입력창
var $addEmployeeBirthdayInp = $("#add-employee-birthday-inp"); // 추가 팝업 - 생년월일 입력창
var $addEmployeeMemoInp = $("#add-employee-memo-inp"); // 추가 팝업 - 특이ㅏ항 입력창

// 달력 부분
var $calInps = $(".cal-inp");
$calInps.datepicker({
	language: "ko",
	todayHighlight : true 
}).on('changeDate', function(ev){
	$calInps.datepicker('hide');
}).on("show", function(){
	$('.datepicker').css({
		"margin-top": "37px"
	});
	
});


// 수정 팝업 부분
var $modPopup = $("#mod-popup"); // 수정 팝업 ( 배경 포함 )
var $modPopupContent = $("#mod_popup_content"); // 수정 팝업 ( 내용 )
var $modCancelBtn = $("#mod-cancel-btn"); // 취소 버튼
var $modCompleteBtn = $("#mod-complete-btn"); // 완료 버튼

var $modEmployeeImg = $("#mod-employee-img"); // 이미지
var $modEmployeeImageBtn = $("#mod-employee-image-btn"); // 이미지 추가 버튼
var $modEmployeeImageInp = $("#mod-employee-image-inp"); // 이미지 파일 입력창
var $modEmployeeGroupSel = $("#mod-employee-group-sel"); // 추가 팝업 - 소속 선택창
var $modEmployeeNameInp = $("#mod-employee-name-inp"); // 추가 팝업 - 직원명 입력창
var $modEmployeeCarInp = $("#mod-employee-car-inp"); // 추가 팝업 - 차번호 입력창
var $modEmployeePhoneInp = $("#mod-employee-phone-inp"); // 추가 팝업 - 연락처 입력창
var $modEmployeeMailInp = $("#mod-employee-mail-inp"); // 추가 팝업 - 메일 입력창
var $modEmployeeBirthdayInp = $("#mod-employee-birthday-inp"); // 추가 팝업 - 생년월일 입력창
var $modEmployeeMemoInp = $("#mod-employee-memo-inp"); // 추가 팝업 - 특이ㅏ항 입력창
var $modUseBtn = $("#mod-use-btn"); // 사용 버튼
var $modUnuseBtn = $("#mod-unuse-btn"); // 사용 버튼
	
// 그룹 목록 부분
var $employeeList = $("#employee-list"); // 그룹 목록
var $employeeCntSpan = (function(){
	
	var $this = $("#employee-cnt-span"); // 그룹수
	$this.update = function(){
		var cnt = $employeeList.find(".employee-item").filter(":visible").length;
		$this.text( cnt );
		return $this;
	};
	return $this;
	
})();
 
/**
	모듈
 **/

var TimeModule = {
		
		now: function(){
			var now = new Date();
			var yyyy = now.getFullYear().toString();
			var MM = ( now.getMonth() + 1 ).toString().padStart( 2, 0 );
			var dd = now.getDate().toString().padStart( 2, 0 );
			var hh = now.getHours().toString().padStart( 2, 0 );
			var mm = now.getMinutes().toString().padStart( 2, 0 );
			var ss = now.getSeconds().toString().padStart( 2, 0 );
			return {
				object: now,
				yyyy: yyyy,
				MM: MM,
				dd: dd,
				hh: hh,
				mm: mm,
				ss: ss
			}
		}
		
};

 // jQuery 템플릿 모듈
var $TemplateModule = (function(){
 
	var template = {
		
		"option": '<option value="id">name</option>',
			
		"employee-item": [
			'<div class="employee-item">',
				'<div class="employee-name"></div>',
				'<div class="employee-image"></div>',
				'<div class="employee-content-list">',
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">소속</div>', 
						 '<div class="employee-group employee-value"></div>',
					 '</div>',
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">차번호</div>', 
						 '<div class="employee-car employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">연락처</div>', 
						 '<div class="employee-phone employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">이메일</div>', 
						 '<div class="employee-mail employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">생년월일</div>', 
						 '<div class="employee-birthday employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">메모</div>', 
						 '<div class="employee-memo employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">등록일</div>', 
						 '<div class="employee-reg-dt employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">수정일</div>', 
						 '<div class="employee-up-dt employee-value"></div>', 
					 '</div>', 
				 '</div>', 
				 '<div class="employee-content-use-status use">', 
					 '사용', 
				 '</div>', 
			'</div>'
		].join("")
	 
	};

	return {
		
		// 옵션
		createOption: function( id, name ){
			
			var $option = $(template["option"]);
			$option.data( { id: id, name: name } );
			$option.val( id );
			$option.text( name );
			return $option;
			
		},
		
		// jQuery 신규 객체 생성
		createEmployee: (function(){
		
			// 소속 설정
			$.fn.getGroupId = function getGroupId(){
				return this.data("groupId");
			};
			
			// 소속 설정
			$.fn.setGroupId = function setGroupId( id ){
				this.data("groupId", id);
			};
			$.fn.setGroupName = function setGroupName( name ){
				this.data("groupName", name);
				this.find(".employee-group").text(name);
			};
			
			// 이미지 조회
			$.fn.getImage = function(){
				return this.data("image");
			};
			
			// 이미지 설정
			$.fn.setImage = function setImage( imageSrc ){
				this.data("image", imageSrc);
				if( imageSrc == null ){
					this.find(".employee-image").css({
						"background-image": "url(/image/default-user.png)",
						"box-shadow": "0px 0px 0px 2px #CFD8DC"
					});
				}else{
					this.find(".employee-image").css({
						"background-image": "url(" + imageSrc + ")",
						"box-shadow": "none"
					});
				}
			};
			
			// 아이디 조회
			$.fn.getId = function getId(){
				return this.data("id");
			};
			
			// 이름 조회
			$.fn.getName = function getName(){
				return this.data("name");
			};
			
			// 이름 설정
			$.fn.setName = function setName( name ){
				this.data("name", name);
				this.find(".employee-name").text(name);
			};
			
			// 연락처 설정
			$.fn.setPhone = function setPhone( phone ){
				this.data("phone", phone);
				this.find(".employee-phone").text(phone);
			};
			
			// 연락처 조회
			$.fn.getPhone = function getPhone(){
				return this.data("phone");
			};
			
			// 차번호 설정
			$.fn.setCar = function setCar( car ){
				this.data("car", car);
				this.find(".employee-car").text(car);
			};
			
			// 차번호 조회
			$.fn.getCar = function getCar(){
				return this.data("car");
			};
			
			// 이메일 설정
			$.fn.setMail = function setMail( mail ){
				this.data("mail", mail);
				this.find(".employee-mail").text(mail);
			};
			
			// 이메일 조회
			$.fn.getMail = function getMail(){
				return this.data("mail");
			};
			
			// 생일 설정
			$.fn.setBirthday = function setBirthday( birthday ){
				this.data("birthday", birthday);
				this.find(".employee-birthday").text(birthday);
			};
			
			// 생일 조회
			$.fn.getBirthday = function getBirthday(){
				return this.data("birthday");
			};
			
			// 메모 설정
			$.fn.setMemo = function setMemo( memo ){
				this.data("memo", memo);
				this.find(".employee-memo").text(memo);
			};
			
			// 메모 조회
			$.fn.getMemo = function getMemo(){
				return this.data("memo");
			};
		
			// 사용여부 조회
			$.fn.getUse = function(){
				return this.data("use"); 
			};
		
			// 삭제가능 여부
			$.fn.setEnableDelete = function( enableDelete ){
				this.data("enableDelete", enableDelete);
				if( enableDelete == false ){
					this.addClass("disable");
				}
			};
		
			// 사용여부 설정
			$.fn.setUse = function( bool ){
				this.data("use", bool);
				if( bool == true ){
					this.find(".employee-content-use-status").removeClass("unuse").addClass("use").text("사용");
				}else{
					this.find(".employee-content-use-status").removeClass("use").addClass("unuse").text("미사용");
				}
			};
		
			// 수정일 갱신
			$.fn.updateDate = function updateDate(){
				var now = TimeModule.now();
				this.data( "updateDate", now.yyyy + now.MM + now.dd + now.hh + now.mm + now.ss );
				this.find( ".employee-up-dt" ).text( now.yyyy + "-" + now.MM  + "-" + now.dd );
			};
			
			// 저장용 데이터
			$.fn.getSaveData = function getSaveData(){
				var data = this.data();
				delete data.groupName;
				return data;
			};
			
			return function( groupId, groupName, id, name, imageSrc, car, phone, mail, birthday, memo, use, enableDelete, createDate, updateDate ){
		 
				var $clone = $( template[ "employee-item" ] );
				$clone.data({
					groupId: null,
					groupName: null,
					id: null,
					name: null,
					image: null,
					car: null,
					phone: null,
					mail: null,
					birthday: null,
					memo: null,
					use: null,
					enableDelete: null,
					createDate: null,					
					updateDate: null
				});
				
				// 소속 ( 필수값 )
				$clone.setGroupId( groupId );
				$clone.setGroupName( groupName );
				
				// 아이디
				if( id == null ){
					// 신규
					id = "EMP::" + ( Date.now() + Math.random() ).toString().replace(".", "");
				}
				$clone.data( "id", id );
				
				// 소속명 ( 필수값 )
				$clone.setName( name );
				
				// 이미지
				$clone.setImage( imageSrc );
				
				// 차번호
				$clone.setCar( car );
				
				// 연락처
				$clone.setPhone( phone );
				
				// 이메일
				$clone.setMail( mail );
				
				// 생년월일
				$clone.setBirthday( birthday );
				
				// 메모
				$clone.setMemo( memo );
				
				// 사용여부
				if( use == null ){
					use = true;
				}
				$clone.setUse( use );
				
				if( enableDelete == null ){
					enableDelete = true;
				}
				$clone.setEnableDelete( enableDelete );
				
				// 등록일
				if( createDate == null ){
					var now = TimeModule.now();
					$clone.data( "createDate", now.yyyy + now.MM + now.dd + now.hh + now.mm + now.ss );
					$clone.find( ".employee-reg-dt" ).text( now.yyyy + "-" + now.MM  + "-" + now.dd );
				}else{
					var yyyy = createDate.slice( 0, 4 );
					var MM = createDate.slice( 4, 6 );
					var dd = createDate.slice( 6, 8 );
					var hh = createDate.slice( 8, 10 );
					var mm = createDate.slice( 10, 12 );
					var ss = createDate.slice( 12, 14 );
					$clone.data( "createDate", yyyy + MM + dd + hh + mm + ss );
					$clone.find( ".employee-reg-dt" ).text( yyyy + "-" + MM  + "-" + dd );
				}
				
				// 수정일
				if( updateDate == null ){
					$clone.updateDate();
				}else{
					var yyyy = updateDate.slice( 0, 4 );
					var MM = updateDate.slice( 4, 6 );
					var dd = updateDate.slice( 6, 8 );
					var hh = updateDate.slice( 8, 10 );
					var mm = updateDate.slice( 10, 12 );
					var ss = updateDate.slice( 12, 14 );
					$clone.data( "updateDate", yyyy + MM + dd + hh + mm + ss );
					$clone.find( ".employee-up-dt" ).text( yyyy + "-" + MM  + "-" + dd );
				}
				
				return $clone;
				 
			}
		 
		})()
	
	};

})();
 
 
/****************************************
	데이터 로드
****************************************/

// 그룹 셋팅
var GroupModule = (function(){
	
	var groups = <%-groups%>;
	
	return {
		
		count: function(){
			return groups.length;
		},
		getByIndex: function( idx ){
			return groups[ idx ];
		},
		getById: function( id ){
			for( var i=0; i<groups.length; ++i ){
				var group = groups[ i ];
				if( group.id == id ){
					return group;
				}
			}
		}
		
	};
	
})();
for( var i=0; i<GroupModule.count(); ++i ){
	var group = GroupModule.getByIndex( i );
	
	// 검색 선택창 목록 생성
	var $option = $TemplateModule.createOption( group.id, group.name );
	$searchGroupSel.append( $option );

	// 추가팝업 선택창 목록 생성
	var $option = $TemplateModule.createOption( group.id, group.name );
	$addEmployeeGroupSel.append( $option );

	// 수정팝업 선택창 목록 생성
	var $option = $TemplateModule.createOption( group.id, group.name );
	$modEmployeeGroupSel.append( $option );
}
%>

var employees = <%-employees%>;
for( var i=0; i<employees.length; ++i ){
	var employee = employees[ i ];
	var $employee = $TemplateModule.createEmployee( employee.groupId, GroupModule.getById( employee.groupId ).name, employee.id, employee.name, employee.image, employee.car, employee.phone, employee.mail, employee.birthday, employee.memo, employee.use, employee.enableDelete, employee.createDate, employee.updateDate );
	$employee.appendTo( $employeeList );
}


//수량 표시 갱신
$employeeCntSpan.update();

 
/****************************************
	이벤트
****************************************/

// 검색 버튼 클릭 이벤트
$searchBtn.on("click", function(){
	
	// 선택된 직원
	var $selectedEmployeeItem = $employeeList.find(".employee-item.select");
	$selectedEmployeeItem.removeClass("select");
	$delBtn.removeClass( "disable" );
	$modBtn.removeClass( "disable" );
	
	var groupIdFilter = $searchGroupSel.val();
	var useFilter = $searchUseSel.val(); // USE UNUSE ALL
	var nameFilter = $searchEmployeeNameInp.val().trim().toUpperCase();
	var memoFilter = $searchEmployeeMemoInp.val().trim().toUpperCase();
	
	// 직원목록
	var $employeeItems = $employeeList.find(".employee-item");
	for( var i=0; i<$employeeItems.length; ++i ){
		var $employeeItem = $employeeItems.eq( i );
		$employeeItem.show();
	}
	
	// 그룹 검색
	if( groupIdFilter != "ALL" ){
		for( var i=0; i<$employeeItems.length; ++i ){
			var $employeeItem = $employeeItems.eq( i );
			if( $employeeItem.getGroupId() != groupIdFilter ){
				$employeeItem.hide();
			}
		}
		$employeeItems = $employeeItems.filter(":visible");
	}
	
	// 사용여부 검색
	if( useFilter != "ALL" ){
		
		var filterUseValue = useFilter == "USE";
		
		for( var i=0; i<$employeeItems.length; ++i ){
			var $employeeItem = $employeeItems.eq( i );
			if( $employeeItem.getUse() != filterUseValue ){
				$employeeItem.hide();
			}
		}
		$employeeItems = $employeeItems.filter(":visible");
	}
	
	// 이름 검색
	for( var i=0; i<$employeeItems.length; ++i ){
		var $employeeItem = $employeeItems.eq( i );
		if( $employeeItem.getName().toUpperCase().indexOf( nameFilter ) == -1 ){
			$employeeItem.hide();
		}
	}
	$employeeItems = $employeeItems.filter(":visible");
	
	// 메모 검색
	for( var i=0; i<$employeeItems.length; ++i ){
		var $employeeItem = $employeeItems.eq( i );
		var memo = $employeeItem.getMemo();
		if( memo == null ){
			memo = "";
		}
		if( memo.toUpperCase().indexOf( memoFilter ) == -1 ){
			$employeeItem.hide();
		}
	}
	
	// 수량 갱신
	$employeeCntSpan.update();
	
});

// 이름 검색창 키 이벤트
$searchEmployeeNameInp.on("keypress", function( e ){
	
	if( e.keyCode == 13 ){
		$searchBtn.trigger( "click" );
	}
	
});

// 메모 검색창 키 이벤트
$searchEmployeeMemoInp.on("keypress", function( e ){
	
	if( e.keyCode == 13 ){
		$searchBtn.trigger( "click" );
	}
	
});

// 추가 버튼 클릭 이벤트
$addBtn.on("click", function(){
	
	// 팝업 표시
	$addPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$addEmployeeNameInp.focus();
	
	// 이미지 초기화
	$addEmployeeImg.data("image", null);
	$addEmployeeImg.css({
		"background-image": "url(/image/default-user.png)",
		"box-shadow": "0px 0px 0px 2px #CFD8DC"
	});
	
	// 그룹 초기화
	$addEmployeeGroupSel.val("NO_SELECT");
	
	// 이름 초기화
	$addEmployeeNameInp.val("");
	
	// 차번호 초기화
	$addEmployeeCarInp.val("");
	
	// 연락처 초기화
	$addEmployeePhoneInp.val("");
	
	// 메일 초기화
	$addEmployeeMailInp.val("");
	
	// 생일 초기화
	$addEmployeeBirthdayInp.val("");

	// 메모 초기화
	$addEmployeeMemoInp.val("");
	
	$addPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
});

// 추가팝업 - 이미지 추가 버튼 클릭 이벤트
$addEmployeeImageBtn.on("click", function(){
	$addEmployeeImageInp.trigger("click");
});

// 추가팝업 - 이미지 파일 입력창 클릭 이벤트
$addEmployeeImageInp.on("click", function( e ){
	e.stopPropagation();
});
// 추가팝업 - 이미지 파일 입력창 클릭 이벤트
$addEmployeeImageInp.on("change", function( e ){
	
	// 초기화 시, 무시
	if( $addEmployeeImageInp.val() == "" ){
		return;
	}
	
    var files = $addEmployeeImageInp.get(0).files;
	if (FileReader && files && files.length) {
	    var fileReader = new FileReader();
	    fileReader.onload = function () {
	    	$addEmployeeImg.data("image", fileReader.result);
	    	$addEmployeeImg.css({
	    		"background-image": "url(" + fileReader.result + ")",	
	    		"box-shadow": "none"
	    	});
	    }
	    fileReader.readAsDataURL(files[0]);
	}else{
		alert( "파일 업로드를 지원하지 않는 브라우저입니다.\n이미지를 변경할 수 없습니다." );
	}
	
	// 초기화
	$addEmployeeImageInp.val("");
	
});

// 추가팝업 - 취소 버튼 클릭 이벤트
$addCancelBtn.on("click", function(){
	
	// 팝업 제거
	parent.showNav( 500 );
	$addPopup.fadeOut( 500 );
	$addPopupContent.css( { "margin-top": "0px" } ).animate( { "margin-top": "-40px" }, 500 );
	
});

// 추가팝업 - 완료 버튼 클릭 이벤트
$addCompleteBtn.on("click", function(){
	
	var groupId = $addEmployeeGroupSel.val();
	if( groupId == "NO_SELECT" ){
		alert( "소속을 선택하세요." );
		return;
	}
	var groupName = $addEmployeeGroupSel.find("option[value='"+groupId+"']").text();
	
	var newEmployeeName = $addEmployeeNameInp.val().trim();
	if( newEmployeeName == "" ){
		alert( "이름이 비어있습니다." );
		return;
	}
	
	var $employeeItems = $employeeList.find( ".employee-item" );
	for( var i=0; i<$employeeItems.length; ++i ){
		var employeeName =  $employeeItems.eq( i ).getName();
		if( newEmployeeName == employeeName ){
			alert( "이미 존재하는 직원 입니다." );
			return;
		}
	}
	
	var imageSrc = $addEmployeeImg.getImage();
	
	var car = $addEmployeeCarInp.val().trim();
	if( car == "" ){
		car = null;
	}
	
	var phone = $addEmployeePhoneInp.val().trim();
	if( phone == "" ){
		phone = null;
	}
	
	var mail = $addEmployeeMailInp.val().trim();
	if( mail == "" ){
		mail = null;
	}
	
	var birthday = $addEmployeeBirthdayInp.val().trim();
	if( birthday == "" ){
		birthday = null;
	}
	
	var memo = $addEmployeeMemoInp.val().trim();
	if( memo == "" ){
		memo = null;
	}
	
	var $employeeItem = $TemplateModule.createEmployee( groupId, groupName, null, newEmployeeName, imageSrc, car, phone, mail, birthday, memo );
	
	// 팝업 제거
	parent.showNav( 500 );
	$addPopup.fadeOut( 500 );
	$addPopupContent.css( { "margin-top": "0px" } );
	$addPopupContent.animate( { "margin-top": "-40px" }, 500, function(){
		
		// 넓어지는 애니메이션으로 표시
		$employeeItem.css( { "width": "0px" } );
		$employeeItem.prependTo( $employeeList );
		$employeeItem.animate( { "width": "240px" }, 500 );
		
		// 수량 표시 갱신
		$employeeCntSpan.update();
		updateSearchEmployeeNameAutoComplete();
		
	} );
	
});

// 그룹명 입력 이벤트
$addEmployeeNameInp.on("keypress", function( e ){
	
	// 엔터키 == 완료버튼 클릭
	if( e.keyCode == 13 ){
		
		$addCompleteBtn.trigger("click");
		
	}
	
});

//그룹순서 변경
(function(){
	
	var $select = null;
	var isMousedown = false;
	
	// 그룹아이템 마우스다운 이벤트
	$employeeList.on("mousedown", ".employee-item", function(){
		
		isMousedown = true;
		
		// 기존 선택 제거
		var $this = $(this);
		
		$employeeList.find(".employee-item").not( $this ).removeClass( "select" );
		$this.addClass("select");
		
		if( $this.hasClass("disable") ){
			$delBtn.addClass( "disable" );
			$modBtn.addClass( "disable" );
		}else{
			$delBtn.removeClass( "disable" );
			$modBtn.removeClass( "disable" );
		}
		$select = $this;
		
	});
	
	$employeeList.on("mousemove", ".employee-item", function(){
		
		if( isMousedown == false ){
			return;
		}
		
		if( $select == null ){
			return;
		}
		
		$select.css( { cursor: "move" } );
		
	});
	
	$employeeList.on("mouseenter", ".employee-item", function(){
		
		if( isMousedown == false ){
			return;
		}
		
		if( $select == null ){
			return;
		}
		
		var $this = $(this);
		if( $select.get(0) == $this.get(0) ){
			return;
		}

		var mouseenterIdx = $employeeList.find( ".employee-item" ).index( $this );
		var moveIdx = $employeeList.find( ".employee-item" ).index( $select );
		
		if( moveIdx > mouseenterIdx ){
			$this.before( $select );
		}else{
			$this.after( $select );
		}
		
		
	});
	
	$employeeList.on("mouseup", ".employee-item", function( e ){
		
		// 기존 선택 제거
		var $select = $employeeList.find(".employee-item.select");
		$select.css( { cursor: "pointer" } );
		isMousedown = false;
		
	});
	
})();

// 삭제 버튼 클릭 이벤트
$delBtn.on("click", function(){
	
	// 활성화된 경우만 기능 동작
	if( $delBtn.hasClass("disable") ){
		return;
	}
	
	var $selectedEmployeeItem = $employeeList.find(".employee-item.select");
	var employeeName = $selectedEmployeeItem.getName();
	if( confirm( "'" + employeeName + "'을 삭제하시겠습니까?\n정산 이력이 있다면 삭제되지않고, '사용안함'으로 변경됩니다." ) ){
		
		// 삭제모션
		$selectedEmployeeItem.animate( { "width": "0px" }, 500, function(){
			
			// 삭제
			$selectedEmployeeItem.remove();
			
			// 수량 표시 갱신
			$employeeCntSpan.update();
			
			// 버튼 비활성화
			$delBtn.addClass( "disable" );
			$modBtn.addClass( "disable" );
			
			updateSearchEmployeeNameAutoComplete();
			
		} );
		
		
	}
	
});

// 수정 버튼 클릭 이벤트
$modBtn.on("click", function(){
	
	// 활성화된 경우만 기능 동작
	if( $delBtn.hasClass("disable") ){
		return;
	}
	
	// 선택된 직원
	var $selectedEmployeeItem = $employeeList.find(".employee-item.select");

	// 이미지 설정
	var employeeImage = $selectedEmployeeItem.getImage();
	if( employeeImage == null ){
		$modEmployeeImg.css({
			"background-image": "url(/image/default-user.png)",
			"box-shadow": "0px 0px 0px 2px #CFD8DC"
		});
	}else{
		$modEmployeeImg.css({
			"background-image": "url(" + employeeImage + ")",
			"box-shadow": "none"
		});
	}
	
	// 그룹 설정
	var groupId = $selectedEmployeeItem.getGroupId();
	$modEmployeeGroupSel.val( groupId );
	
	// 이름 설정
	var employeeName = $selectedEmployeeItem.getName();
	$modEmployeeNameInp.val( employeeName );
	
	// 차번호 설정
	var employeeCar = $selectedEmployeeItem.getCar();
	$modEmployeeCarInp.val( employeeCar );
	
	// 연락처 설정
	var employeePhone = $selectedEmployeeItem.getPhone();
	$modEmployeePhoneInp.val( employeePhone );
	
	// 이메일 설정
	var employeeMail = $selectedEmployeeItem.getMail();
	$modEmployeeMailInp.val( employeeMail );
	
	// 생일 설정
	var employeeBirthday = $selectedEmployeeItem.getBirthday();
	$modEmployeeBirthdayInp.val( employeeBirthday );
	
	// 생일 설정
	var employeeMemo = $selectedEmployeeItem.getMemo();
	$modEmployeeMemoInp.val( employeeMemo );
	
	// 사용여부 설정
	var use = $selectedEmployeeItem.getUse();
	if( use ){
		$modUseBtn.addClass("select");
		$modUnuseBtn.removeClass("select");
	}else{
		$modUnuseBtn.addClass("select");
		$modUseBtn.removeClass("select");
	}
	
	// 팝업 표시
	$modPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$modPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
	// 입력창 포커스 ( show 이후에 처리 필요 )
	$modEmployeeNameInp.focus();
	
});

//추가팝업 - 이미지 추가 버튼 클릭 이벤트
$modEmployeeImageBtn.on("click", function(){
	$modEmployeeImageInp.trigger("click");
});

// 추가팝업 - 이미지 파일 입력창 클릭 이벤트
$modEmployeeImageInp.on("click", function( e ){
	e.stopPropagation();
});
// 추가팝업 - 이미지 파일 입력창 클릭 이벤트
$modEmployeeImageInp.on("change", function( e ){
	
	// 초기화 시, 무시
	if( $modEmployeeImageInp.val() == "" ){
		return;
	}
	
    var files = $modEmployeeImageInp.get(0).files;
	if (FileReader && files && files.length) {
	    var fileReader = new FileReader();
	    fileReader.onload = function () {
	    	$modEmployeeImg.data("image", fileReader.result);
	    	$modEmployeeImg.css({
	    		"background-image": "url(" + fileReader.result + ")",	
	    		"box-shadow": "none"
	    	});
	    }
	    fileReader.readAsDataURL(files[0]);
	}else{
		alert( "파일 업로드를 지원하지 않는 브라우저입니다.\n이미지를 변경할 수 없습니다." );
	}
	
	// 초기화
	$modEmployeeImageInp.val("");
	
});

// 수정팝업 - 사용 버튼 클릭 이벤트
$modUseBtn.on("click", function(){
	
	$modUseBtn.addClass("select");
	$modUnuseBtn.removeClass("select");
	
	
});

// 수정팝업 - 미사용 버튼 클릭 이벤트
$modUnuseBtn.on("click", function(){
	
	$modUnuseBtn.addClass("select");
	$modUseBtn.removeClass("select");
	
	
});

// 수정팝업 - 취소 버튼 클릭 이벤트
$modCancelBtn.on("click", function(){
	
	// 팝업 제거
	parent.showNav( 500 );
	$modPopup.fadeOut( 500 );
	$modPopupContent.css( { "margin-top": "0px" } ).animate( { "margin-top": "-40px" }, 500 );
	
});

// 수정팝업 - 완료 버튼 클릭 이벤트
$modCompleteBtn.on("click", function(){
	
	// 선택된 직원
	var $selectedEmployeeItem = $employeeList.find(".employee-item.select");
	
	var groupId = $modEmployeeGroupSel.val();
	if( groupId == "NO_SELECT" ){
		alert( "소속을 선택하세요." );
		return;
	}
	
	var groupName = $modEmployeeGroupSel.find("option[value='"+groupId+"']").text();
	
	var newEmployeeName = $modEmployeeNameInp.val().trim();
	if( newEmployeeName == "" ){
		alert( "이름이 비어있습니다." );
		return;
	}
	
	var $employeeItems = $employeeList.find( ".employee-item" );
	for( var i=0; i<$employeeItems.length; ++i ){
		
		var $employeeItem = $employeeItems.eq( i );
		if( $employeeItem[ 0 ] == $selectedEmployeeItem[ 0 ] ){
			continue;
		}
		
		var employeeName =  $employeeItem.getName();
		if( newEmployeeName == employeeName ){
			alert( "이미 존재하는 직원 입니다." );
			return;
		}
	}
	
	// 검증 이후 적용
	$selectedEmployeeItem.setGroupId( groupId );
	$selectedEmployeeItem.setGroupName( groupName );
	$selectedEmployeeItem.setName( newEmployeeName );
	
	var imageSrc = $modEmployeeImg.getImage();
	$selectedEmployeeItem.setImage( imageSrc );
	
	var car = $modEmployeeCarInp.val().trim();
	if( car == "" ){
		car = null;
	}
	$selectedEmployeeItem.setCar( car );
	
	var phone = $modEmployeePhoneInp.val().trim();
	if( phone == "" ){
		phone = null;
	}
	$selectedEmployeeItem.setPhone( phone );
	
	var mail = $modEmployeeMailInp.val().trim();
	if( mail == "" ){
		mail = null;
	}
	$selectedEmployeeItem.setMail( mail );
	
	var birthday = $modEmployeeBirthdayInp.val().trim();
	if( birthday == "" ){
		birthday = null;
	}
	$selectedEmployeeItem.setBirthday( birthday );
	
	var memo = $modEmployeeMemoInp.val().trim();
	if( memo == "" ){
		memo = null;
	}
	$selectedEmployeeItem.setMemo( memo );
	
	// 선택여부
	$selectedEmployeeItem.setUse( $modUseBtn.hasClass("select") );
	
	// 팝업 제거
	parent.showNav( 500 );
	$modPopup.fadeOut( 500 );
	$modPopupContent.css( { "margin-top": "0px" } );
	$modPopupContent.animate( { "margin-top": "-40px" }, 500, function(){
		
		updateSearchEmployeeNameAutoComplete();
		
	} );
	
});

// 저장 버튼 클릭 이벤트
$saveBtn.on("click", function(){
	
	 var employees = [];
	 var $employeeItems = $employeeList.find(".employee-item");
	 for( var i=0; i<$employeeItems.length; ++i ){
		 var $employeeItem = $employeeItems.eq( i );
		 employees.push( $employeeItem.getSaveData() );
	 }
	 
	 $.ajax({
		
		 url: "/employee/management/save",
		 type: "post",
		 headers: {
	     	"Content-Type": "application/json"
	     },
		 data: JSON.stringify( employees ),
		 dataType: "json",
		 success: function( res ){
			 
			 if( res.result == "SUCCESS" ){
				 alert( "저장되었습니다." );
				 parent.updateBirthdayIcon();
			 }else{
				 alert( "실패하였습니다.\n관리자에게 문의바랍니다." );
			 }
			 
		 }
		 
	 });
	
});

// 자동 완성 갱신
function updateSearchEmployeeNameAutoComplete(){
	
	var names = [];
	var $employeeItems = $employeeList.find(".employee-item");
	for( var i=0; i<$employeeItems.length; ++i ){
		var $employeeItem = $employeeItems.eq( i );
		names.push( $employeeItem.getName() );
	}
	
	// 직원명 자동검색 갱신
	$searchEmployeeNameInp.autocomplete({
		source: names,
		focus: function( event, ui ) {
			event.preventDefault();
		}
	});
	
}
updateSearchEmployeeNameAutoComplete();

function updateBodyHeight(){
	$body.css("height", window.innerHeight + "px");
}
updateBodyHeight();

// 윈도우 크기 변경 이벤트
$window.on("resize", function(){
	
	updateBodyHeight();
	
});
</script>
</body>
</html>