<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8">
<title>신나라유통 ERP > employee > management</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/lib/bootstrap/bootstrap-datepicker.min.css">
<style type="text/css">
body { margin: 0px; padding: 0px; overflow: hidden; font-family: sans-serif; color: #616161; }
.smc-btn { float: right; display: inline-block; padding: 4px 10px; vertical-align: bottom; font-weight: bold; font-size: 10px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; cursor: pointer; margin-left: 4px; }
.smc-btn:not(.disable):hover { box-shadow: 0px 0px 1px 1px #aaa; !important; }
.smc-btn.select { box-shadow: 0px 0px 1px 1px #2196F3 !important; }
.smc-btn.blue { background-color: #2196F3; color: white; box-shadow: 0px 0px 0px 1px #64B5F6; }
.smc-btn.bluegray { background-color: #607D8B; color: white; box-shadow: 0px 0px 0px 1px #90A4AE; }
.smc-btn.disable { background-color: #eee; color: #aaa; cursor: not-allowed; }
.smc-header { font-size: 20px; padding: 10px; color: #222; font-weight: bold; margin-bottom: 20px; }
.smc-desc { background-color: #eee; color: #616161; padding: 10px; font-size: 12px; }
.smc-inp { border: none; border-bottom: #ccc solid 1px; padding: 4px 10px; font-size: 10px; width: 100%; }
.smc-inp::placeholder { color: #cccccc; }
.smc-inp:focus { outline: none; border-bottom: #2196F3 solid 1px; }
.smc-select { width: 100px; border: #ccc solid 1px; padding-left: 4px; border-radius: 4px; font-size: 12px; }
.smc-count { font-size: 10px; border-bottom: #ccc solid 2px; margin-bottom: 10px; height: 32px; }
.small-title { font-weight: bold; margin-bottom: 40px; }


.popup-row { float: left; width: 100%; }
.mt6 { margin-top: 6px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }

/* 그룹 */
.employee-list { position: relative; text-align: center; background-color: ; height: calc( 100% - 140px ); overflow: auto; }
	.employee-item { cursor: pointer; display: inline-block; width: 240px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; margin: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; user-select: none; }
	.employee-item.disable { cursor: not-allowed; }
	.employee-item.select { box-shadow: 0px 0px 2px 1px #2196F3 !important; }
	.employee-item:not(.disable):hover { box-shadow: 0px 0px 2px 1px #aaa; }
		.employee-name { padding: 4px 0px; border-bottom: #ccc solid 1px; text-align: center; background-color: #00BCD4; color: white; font-weight: bold; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.employee-image { margin-top: 20px; margin-bottom: 20px; margin-left: calc( 50% - 25px ); width: 50px; height: 50px; box-shadow: 0px 0px 0px 2px #CFD8DC; border-radius: 50px; background-image: url(/image/default-user.png); background-size: auto 100%; background-position: center; background-repeat: no-repeat; }
		.employee-item.disable .employee-name { background-color: #607D8B; }
		.employee-content-list { padding: 10px 0px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background-color: #f9f9f9; }
			.employee-content-item { padding: 4px 0px; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
				.employee-property { float: left; width: 89px; padding-right: 10px; text-align: right; border-right: #ccc solid 1px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
				.employee-value { float: left; width: 120px; padding-left: 10px; text-align: left; white-space: pre; text-overflow: ellipsis; overflow: hidden; }
		.employee-content-use-status { padding: 0px; border-top: #ccc solid 1px; text-align: center; font-size: 10px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
		.employee-content-use-status.use { background-color: #E8F5E9; }
		.employee-content-use-status.unuse { background-color: #eee; }
</style>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap/bootstrap-datepicker.min.js"></script>
<script src="/lib/bootstrap/bootstrap-datepicker.ko.min.js"></script>
<script type="text/javascript">
/**
 	Polyfill
 **/
if (!String.prototype.padStart) {
    String.prototype.padStart = function padStart(targetLength,padString) {
        targetLength = targetLength>>0; //truncate if number or convert non-number to 0;
        padString = String((typeof padString !== 'undefined' ? padString : ' '));
        if (this.length > targetLength) {
            return String(this);
        }
        else {
            targetLength = targetLength-this.length;
            if (targetLength > padString.length) {
                padString += padString.repeat(targetLength/padString.length); //append to original to ensure we are longer than needed
            }
            return padString.slice(0,targetLength) + String(this);
        }
    };
}

</script>
</head>
<body>
<div class="container" style="position: relative;">
	<div class="row" style="position: relative; margin-top: 50px;">
		<div class="col-md-offset-2 col-md-8" style="position: relative;">
			<div class="smc-header">
				직원 관리
			</div>
			<div class="col-md-12" style="position: relative;">
			
				<div style="padding: 20px; background-color: #eee; margin-bottom: 40px; box-shadow: 0px 0px 0px 1px #ccc; border-radius: 4px; font-size: 12px; height: 60px;">
					<div style="float: left; display: inline-block; margin: 1px 10px 0px 0px;">소속</div>
					<div style="float: left; display: inline-block;">
						<select id="search-group-sel" class="smc-select">
							<option value="ALL" selected="selected">전체</option>
						</select>
					</div>
					<div style="float: left; display: inline-block; margin: 1px 10px 0px 20px;">이름</div>
					<div style="float: left; display: inline-block;">
						<input type="text" style="font-size: 12px; border: #ccc solid 1px; padding: 1px 0px 0px 4px; width: 100px; border-radius: 4px;">
					</div>
					<div style="float: left; display: inline-block; margin: 1px 10px 0px 20px;">특이사항</div>
					<div style="float: left; display: inline-block;">
						<input type="text" style="font-size: 12px; border: #ccc solid 1px; padding: 1px 0px 0px 4px; width: 100px; border-radius: 4px;">
					</div>
					
					<div id="save-btn" class="smc-btn bluegray" style="height: 20px; padding-top: 3px;">검색</div>
				</div>
			
				<!-- 상단 -->
				<div class="smc-count">
					<div class="col-md-6" style="padding-top: 8px;">총 <span id="employee-cnt-span">0</span>건</div>
					<div class="col-md-6">
						<div class="smc-btn-wrap">
							<div id="save-btn" class="smc-btn blue">저장</div>
							<div id="del-btn" class="smc-btn disable">삭제</div>
							<div id="mod-btn" class="smc-btn disable">수정</div>
							<div id="add-btn" class="smc-btn">추가</div>
						</div>
					</div>
				</div>
				
				<!-- 본문 -->
				<div id="employee-list" class="col-md-12 employee-list">
				</div>
				
				<!-- 하단 -->
				<div class="col-md-12" style="height: 60px;"></div>
				
			</div>
			
		</div>
		
	</div>
</div>

<!-- 추가 팝업 -->
<div id="add-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none;">

	<div id="add_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 162px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			직원 추가
		</div>
		<div class="popup-row">
			<div class="col-md-12">
				<div id="add-employee-img" class="employee-image" style="background-image: url(/image/default-user.png); border-radius: 50px;">
					<div id="add-employee-image-btn" class="add-employee-image-btn" style="margin-top: 32px; margin-right: -5px; float: right; padding: 4px; background-image: url(/image/camera.png); background-size: 12px 12px; background-position: center; background-repeat: no-repeat; background-color: white; border-radius: 50px; box-shadow: 0px 0px 0px 1px #ccc; width: 20px; height: 20px; cursor: pointer;">
						<input id="add-employee-image-inp" type="file" style="display: none;" accept="image/*">
					</div>
				</div>
			</div>
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>소속
			</div>
			<div class="col-md-9">
				<select id="add-employee-group-sel" class="smc-select">
					<option value="NO_SELECT" selected="selected">선택</option>
				</select>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>이름
			</div>
			<div class="col-md-9">
				<input id="add-employee-name-inp" class="smc-inp" type="text" placeholder="이름을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				나이
			</div>
			<div class="col-md-9">
				<input id="add-employee-age-inp" class="smc-inp" type="text" placeholder="나이를 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				연락처
			</div>
			<div class="col-md-9">
				<input id="add-employee-phone-inp" class="smc-inp" type="text" placeholder="연락처를 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				이메일
			</div>
			<div class="col-md-9">
				<input id="add-employee-mail-inp" class="smc-inp" type="text" placeholder="이메일을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				생년월일
			</div>
			<div class="col-md-9">
				<input id="add-employee-birthday-inp" class="smc-inp cal-inp" type="text" placeholder="생년월일을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				메모
			</div>
			<div class="col-md-9">
				<textarea id="add-employee-memo-inp" class="smc-inp" style="height: 52px;" placeholder="특이사항을 입력하주세요."></textarea>
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="add-complete-btn" class="smc-btn blue">완료</div>
					<div id="add-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- 수정 팝업 -->
<div id="mod-popup" class="smc-popup" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none;">

	<div id="mod_popup_content" style="position: absolute; background-color: white; border-radius: 4px; left: calc( 50% - 200px ); top: calc( 50% - 88px ); width: 400px; padding: 20px;">
		<div class="col-md-12 smc-header" style="border-bottom: #ccc solid 2px;">
			직원 수정
		</div>
		<div class="popup-row">
			<div class="col-md-12">
				<div class="employee-image"></div>
			</div>
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>소속명
			</div>
			<div class="col-md-9">
				<input id="mod-employee-name-inp" class="smc-inp" type="text" placeholder="소속명을 입력해주세요.">
			</div>
		</div>
		<div class="popup-row mt10">
			<div class="col-md-3" style="text-align: right; font-size: 12px; font-weight: bold; padding-top: 3px;">
				<span style="color: #ff0000;">*</span>사용여부
			</div>
			<div class="col-md-9">
				<div id="mod-use-btn" class="smc-btn" style="float: left;">사용</div>
				<div id="mod-unuse-btn" class="smc-btn"  style="float: left;">미사용</div>
			</div>
		</div>
		<div class="popup-row mt6">
			<div class="col-md-offset-3 col-md-9" style="font-size: 10px; color: #616161;">
				&nbsp; ※미사용 소속은 정산을 수행할 수 없습니다.
			</div>
		</div>
		<div class="popup-row mt20">
			<div class="col-md-12">
				<div class="smc-btn-wrap">
					<div id="mod-complete-btn" class="smc-btn blue">완료</div>
					<div id="mod-cancel-btn" class="smc-btn">취소</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">

/**
	jQuery 변수
 **/

// 상단 검색
var $searchGroupSel = $("#search-group-sel"); // 소속 선택창
 
// 상단 버튼 부분
var $addBtn = $("#add-btn"); // 추가 버튼
var $delBtn = $("#del-btn"); // 삭제 버튼
var $modBtn = $("#mod-btn"); // 수정 버튼
var $saveBtn = $("#save-btn"); // 저장 버튼

// 추가팝업 부분
var $addPopup = $("#add-popup"); // 추가 팝업 ( 배경포함 )
var $addPopupContent = $("#add_popup_content"); // 추가 팝업 ( 내용 )
var $addCancelBtn = $("#add-cancel-btn"); // 취소 버튼
var $addCompleteBtn = $("#add-complete-btn"); // 완료 버튼
var $addEmployeeImg = $("#add-employee-img"); // 이미지
var $addEmployeeImageBtn = $("#add-employee-image-btn"); // 이미지 추가 버튼
var $addEmployeeImageInp = $("#add-employee-image-inp"); // 이미지 파일 입력창
var $addEmployeeGroupSel = $("#add-employee-group-sel"); // 추가 팝업 - 소속 선택창
var $addEmployeeNameInp = $("#add-employee-name-inp"); // 추가 팝업 - 직원명 입력창
var $addEmployeeAgeInp = $("#add-employee-age-inp"); // 추가 팝업 - 나이 입력창
var $addEmployeePhoneInp = $("#add-employee-phone-inp"); // 추가 팝업 - 연락처 입력창
var $addEmployeeMailInp = $("#add-employee-mail-inp"); // 추가 팝업 - 메일 입력창
var $addEmployeeBirthdayInp = $("#add-employee-birthday-inp"); // 추가 팝업 - 생년월일 입력창
var $addEmployeeMemoInp = $("#add-employee-memo-inp"); // 추가 팝업 - 특이ㅏ항 입력창

// 달력 부분
var $calInps = $(".cal-inp");
$calInps.datepicker({
	language: "ko",
	todayHighlight : true 
}).on('changeDate', function(ev){
	$calInps.datepicker('hide');
}).on("show", function(){
	$('.datepicker').css({
		"margin-top": "37px"
	});
	
});


// 수정 팝업 부분
var $modPopup = $("#mod-popup"); // 수정 팝업 ( 배경 포함 )
var $modPopupContent = $("#mod_popup_content"); // 수정 팝업 ( 내용 )
var $modCancelBtn = $("#mod-cancel-btn"); // 취소 버튼
var $modCompleteBtn = $("#mod-complete-btn"); // 완료 버튼
var $modemployeeNameInp = $("#mod-employee-name-inp"); // 수정 팝업 - 소속명 입력창
var $modUseBtn = $("#mod-use-btn"); // 사용 버튼
var $modUnuseBtn = $("#mod-unuse-btn"); // 사용 버튼
	
// 그룹 목록 부분
var $employeeList = $("#employee-list"); // 그룹 목록
var $employeeCntSpan = (function(){
	
	var $this = $("#employee-cnt-span"); // 그룹수
	$this.update = function(){
		var cnt = $employeeList.find(".employee-item").length;
		$this.text( cnt );
		return $this;
	};
	return $this;
	
})();
 
/**
	모듈
 **/

var TimeModule = {
		
		now: function(){
			var now = new Date();
			var yyyy = now.getFullYear().toString();
			var MM = ( now.getMonth() + 1 ).toString().padStart( 2, 0 );
			var dd = now.getDate().toString().padStart( 2, 0 );
			var hh = now.getHours().toString().padStart( 2, 0 );
			var mm = now.getMinutes().toString().padStart( 2, 0 );
			var ss = now.getSeconds().toString().padStart( 2, 0 );
			return {
				object: now,
				yyyy: yyyy,
				MM: MM,
				dd: dd,
				hh: hh,
				mm: mm,
				ss: ss
			}
		}
		
};

 // jQuery 템플릿 모듈
var $TemplateModule = (function(){
 
	var template = {
		
		"option": '<option value="id">name</option>',
			
		"employee-item": [
			'<div class="employee-item">',
				'<div class="employee-name"></div>',
				'<div class="employee-image"></div>',
				'<div class="employee-content-list">',
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">소속</div>', 
						 '<div class="employee-group employee-value"></div>',
					 '</div>',
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">나이</div>', 
						 '<div class="employee-age employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">연락처</div>', 
						 '<div class="employee-phone employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">이메일</div>', 
						 '<div class="employee-mail employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">생년월일</div>', 
						 '<div class="employee-birthday employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">메모</div>', 
						 '<div class="employee-memo employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">등록일</div>', 
						 '<div class="employee-reg-dt employee-value"></div>', 
					 '</div>', 
					 '<div class="employee-content-item">', 
						 '<div class="employee-property">수정일</div>', 
						 '<div class="employee-up-dt employee-value"></div>', 
					 '</div>', 
				 '</div>', 
				 '<div class="employee-content-use-status use">', 
					 '사용', 
				 '</div>', 
			'</div>'
		].join("")
	 
	};

	return {
		
		// 옵션
		createOption: function( id, name ){
			
			var $option = $(template["option"]);
			$option.data( { id: id, name: name } );
			$option.val( id );
			$option.text( name );
			return $option;
			
		},
		
		// jQuery 신규 객체 생성
		createEmployee: (function(){
		
			// 소속 설정
			$.fn.setGroup = function setGroup( id, name ){
				this.data("group", { id: id, name: name });
				this.find(".employee-group").text(name);
			};
			
			// 이미지 조회
			$.fn.getImage = function(){
				return this.data("image");
			};
			
			// 이미지 설정
			$.fn.setImage = function setImage( imageSrc ){
				this.data("image", imageSrc);
				if( imageSrc != null ){
					this.find(".employee-image").css({
						"background-image": "url(" + imageSrc + ")",
						"box-shadow": "none"
					});
				}else{
					this.find(".employee-image").css({
						"background-image": "url(/image/default-user.png)",
						"box-shadow": "0px 0px 0px 2px #CFD8DC"
					});
				}
			};
			
			// 이름 조회
			$.fn.getName = function getName(){
				return this.data("name");
			};
			
			// 이름 설정
			$.fn.setName = function setName( name ){
				this.data("name", name);
				this.find(".employee-name").text(name);
			};
			
			// 나이 설정
			$.fn.setAge = function setAge( age ){
				this.data("age", age);
				this.find(".employee-age").text(age);
			};
			
			// 나이 조회
			$.fn.getAge = function getAge(){
				return this.data("age");
			};
			
			// 연락처 설정
			$.fn.setPhone = function setPhone( phone ){
				this.data("phone", phone);
				this.find(".employee-phone").text(phone);
			};
			
			// 연락처 조회
			$.fn.getPhone = function getPhone(){
				return this.data("phone");
			};
			
			// 이메일 설정
			$.fn.setMail = function setMail( mail ){
				this.data("mail", mail);
				this.find(".employee-mail").text(mail);
			};
			
			// 이메일 조회
			$.fn.getMail = function getMail(){
				return this.data("mail");
			};
			
			// 생일 설정
			$.fn.setBirthday = function setBirthday( birthday ){
				this.data("birthday", birthday);
				this.find(".employee-birthDay").text(birthday);
			};
			
			// 생일 조회
			$.fn.getBirthday = function getBirthday(){
				return this.data("birthday");
			};
			
			// 메모 설정
			$.fn.setMemo = function setMemo( memo ){
				this.data("memo", memo);
				this.find(".employee-memo").text(memo);
			};
			
			// 메모 조회
			$.fn.getMemo = function getMemo(){
				return this.data("memo");
			};
		
			// 사용여부 조회
			$.fn.getUse = function(){
				return this.data("use"); 
			};
		
			// 삭제가능 여부
			$.fn.setEnableDelete = function( enableDelete ){
				this.data("enableDelete", enableDelete);
				if( enableDelete == false ){
					this.addClass("disable");
				}
			};
		
			// 사용여부 설정
			$.fn.setUse = function( bool ){
				this.data("use", bool);
				if( bool == true ){
					this.find(".employee-content-use-status").removeClass("unuse").addClass("use").text("사용");
				}else{
					this.find(".employee-content-use-status").removeClass("use").addClass("unuse").text("미사용");
				}
			};
		
			// 수정일 갱신
			$.fn.updateDate = function updateDate(){
				var now = TimeModule.now();
				this.data( "updateDate", now.yyyy + now.MM + now.dd + now.hh + now.mm + now.ss );
				this.find( ".employee-up-dt" ).text( now.yyyy + "-" + now.MM  + "-" + now.dd );
			};
		
			return function( groupId, groupName, id, name, imageSrc, age, phone, mail, birthday, memo, use, enableDelete, createDate, updateDate ){
		 
				var $clone = $( template[ "employee-item" ] );
				$clone.data({
					group: { id: null, name: null },
					id: null,
					name: null,
					image: null,
					age: null,
					phone: null,
					mail: null,
					birthday: null,
					memo: null,
					use: null,
					enableDelete: null,
					createDate: null,					
					updateDate: null
				});
				
				// 소속 ( 필수값 )
				$clone.setGroup( groupId, groupName );
				
				// 아이디
				if( id == null ){
					// 신규
					id = "EMP::" + ( Date.now() + Math.random() ).toString().replace(".", "");
				}
				$clone.data( "id", id );
				
				// 소속명 ( 필수값 )
				$clone.setName( name );
				
				// 이미지
				$clone.setImage( imageSrc );
				
				// 나이
				$clone.setAge( age );
				
				// 연락처
				$clone.setPhone( phone );
				
				// 이메일
				$clone.setMail( mail );
				
				// 생년월일
				$clone.setBirthday( birthday );
				
				// 메모
				$clone.setMemo( memo );
				
				// 사용여부
				if( use == null ){
					use = true;
				}
				$clone.setUse( use );
				
				if( enableDelete == null ){
					enableDelete = true;
				}
				$clone.setEnableDelete( enableDelete );
				
				// 등록일
				if( createDate == null ){
					var now = TimeModule.now();
					$clone.data( "createDate", now.yyyy + now.MM + now.dd + now.hh + now.mm + now.ss );
					$clone.find( ".employee-reg-dt" ).text( now.yyyy + "-" + now.MM  + "-" + now.dd );
				}else{
					var yyyy = createDate.slice( 0, 4 );
					var MM = createDate.slice( 4, 6 );
					var dd = createDate.slice( 6, 8 );
					var hh = createDate.slice( 8, 10 );
					var mm = createDate.slice( 10, 12 );
					var ss = createDate.slice( 12, 14 );
					$clone.data( "createDate", yyyy + MM + dd + hh + mm + ss );
					$clone.find( ".employee-reg-dt" ).text( yyyy + "-" + MM  + "-" + dd );
				}
				
				// 수정일
				if( updateDate == null ){
					$clone.updateDate();
				}else{
					var yyyy = updateDate.slice( 0, 4 );
					var MM = updateDate.slice( 4, 6 );
					var dd = updateDate.slice( 6, 8 );
					var hh = updateDate.slice( 8, 10 );
					var mm = updateDate.slice( 10, 12 );
					var ss = updateDate.slice( 12, 14 );
					$clone.data( "updateDate", yyyy + MM + dd + hh + mm + ss );
					$clone.find( ".employee-up-dt" ).text( yyyy + "-" + MM  + "-" + dd );
				}
				
				return $clone;
				 
			}
		 
		})()
	
	};

})();
 
 
/****************************************
	데이터 로드
****************************************/

// 그룹 셋팅
var GroupModule = (function(){
	
	var groups = <%-groups%>;
	
	return {
		
		count: function(){
			return groups.length;
		},
		getByIndex: function( idx ){
			return groups[ idx ];
		},
		getById: function( id ){
			for( var i=0; i<groups.length; ++i ){
				var group = groups[ i ];
				if( group.id == id ){
					return group;
				}
			}
		}
		
	};
	
})();
for( var i=0; i<GroupModule.count(); ++i ){
	var group = GroupModule.getByIndex( i );
	
	// 검색 선택창 목록 생성
	var $option = $TemplateModule.createOption( group.id, group.name );
	$searchGroupSel.append( $option );

	// 추가팝업 선택창 목록 생성
	var $option = $TemplateModule.createOption( group.id, group.name );
	$addEmployeeGroupSel.append( $option );
}
%>

var employees = <%-employees%>;
for( var i=0; i<employees.length; ++i ){
	var employee = employees[ i ];
	var $employee = $TemplateModule.createEmployee( employee.groupId, GroupModule.getById( employee.groupId ).name, employee.id, employee.name, employee.image, employee.age, employee.phone, employee.mail, employee.birthday, employee.memo, employee.use, employee.enableDelete, employee.createDate, employee.updateDate );
	$employee.appendTo( $employeeList );
}



//수량 표시 갱신
$employeeCntSpan.update();

 
/****************************************
	이벤트
****************************************/
 
// 추가 버튼 클릭 이벤트
$addBtn.on("click", function(){
	
	// 팝업 표시
	$addPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$addEmployeeNameInp.focus();
	
	// 이미지 초기화
	$addEmployeeImg.data("image", null);
	$addEmployeeImg.css({
		"background-image": "url(/image/default-user.png)",
		"box-shadow": "0px 0px 0px 2px #CFD8DC"
	});
	$addPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
});

// 추가팝업 - 이미지 추가 버튼 클릭 이벤트
$addEmployeeImageBtn.on("click", function(){
	$addEmployeeImageInp.trigger("click");
});

// 추가팝업 - 이미지 파일 입력창 클릭 이벤트
$addEmployeeImageInp.on("click", function( e ){
	e.stopPropagation();
});
// 추가팝업 - 이미지 파일 입력창 클릭 이벤트
$addEmployeeImageInp.on("change", function( e ){
	
	// 초기화 시, 무시
	if( $addEmployeeImageInp.val() == "" ){
		return;
	}
	
    var files = $addEmployeeImageInp.get(0).files;
	if (FileReader && files && files.length) {
	    var fileReader = new FileReader();
	    fileReader.onload = function () {
	    	$addEmployeeImg.data("image", fileReader.result);
	    	$addEmployeeImg.css({
	    		"background-image": "url(" + fileReader.result + ")",	
	    		"box-shadow": "none"
	    	});
	    }
	    fileReader.readAsDataURL(files[0]);
	}else{
		alert( "파일 업로드를 지원하지 않는 브라우저입니다.\n이미지를 변경할 수 없습니다." );
	}
	
	// 초기화
	$addEmployeeImageInp.val("");
	
});

// 추가팝업 - 취소 버튼 클릭 이벤트
$addCancelBtn.on("click", function(){
	
	// 팝업 제거
	parent.showNav( 500 );
	$addPopup.fadeOut( 500 );
	$addPopupContent.css( { "margin-top": "0px" } ).animate( { "margin-top": "-40px" }, 500 );
	
});

// 추가팝업 - 완료 버튼 클릭 이벤트
$addCompleteBtn.on("click", function(){
	
	var groupId = $addEmployeeGroupSel.val();
	if( groupId == "NO_SELECT" ){
		alert( "소속을 선택하세요." );
		return;
	}
	var groupName = $addEmployeeGroupSel.find("option[value='"+groupId+"']").text();
	
	var newemployeeName = $addEmployeeNameInp.val().trim();
	if( newemployeeName == "" ){
		alert( "이름이 비어있습니다." );
		return;
	}
	
	var $employeeItems = $employeeList.find( ".employee-item" );
	for( var i=0; i<$employeeItems.length; ++i ){
		var employeeName =  $employeeItems.eq( i ).getName();
		if( newemployeeName == employeeName ){
			alert( "이미 존재하는 직원 입니다." );
			return;
		}
	}
	
	var imageSrc = $addEmployeeImg.getImage();
	
	var age = $addEmployeeAgeInp.val().trim();
	if( age == "" ){
		age = null;
	}else{
		age = parseInt( age );
	}
	
	var phone = $addEmployeePhoneInp.val().trim();
	if( phone == "" ){
		phone = null;
	}
	
	var mail = $addEmployeeMailInp.val().trim();
	if( mail == "" ){
		mail = null;
	}
	
	var birthday = $addEmployeeBirthdayInp.val().trim();
	if( birthday == "" ){
		birthday = null;
	}
	
	var memo = $addEmployeeMemoInp.val().trim();
	if( memo == "" ){
		memo = null;
	}
	
	var $employeeItem = $TemplateModule.createEmployee( groupId, groupName, null, newemployeeName, imageSrc, age, phone, mail, birthday, memo );
	
	// 팝업 제거
	parent.showNav( 500 );
	$addPopup.fadeOut( 500 );
	$addPopupContent.css( { "margin-top": "0px" } );
	$addPopupContent.animate( { "margin-top": "-40px" }, 500, function(){
		
		// 넓어지는 애니메이션으로 표시
		$employeeItem.css( { "width": "0px" } );
		$employeeItem.prependTo( $employeeList );
		$employeeItem.animate( { "width": "240px" }, 500 );
		
		// 수량 표시 갱신
		$employeeCntSpan.update();
		
		// 팝업 그룹명 제거
		$addEmployeeNameInp.val("");
		
	} );
	
});

// 그룹명 입력 이벤트
$addEmployeeNameInp.on("keypress", function( e ){
	
	// 엔터키 == 완료버튼 클릭
	if( e.keyCode == 13 ){
		
		$addCompleteBtn.trigger("click");
		
	}
	
});

// 그룹아이템 클릭 이벤트
$employeeList.on("click", ".employee-item", function(){
	
	// 기존 선택 제거
	var $this = $(this);
	
	// 기타
	if( $this.hasClass("disable") ){
		return;
	}
	
	$employeeList.find(".employee-item").not( $this ).removeClass( "select" );
	$this.toggleClass("select");
	
	// 선택 시, 버튼 활성화
	if( $this.hasClass("select") ){
		
		$delBtn.removeClass( "disable" );
		$modBtn.removeClass( "disable" );
		
	// 선택 제거 시, 버튼 비활성화
	}else{
		
		$delBtn.addClass( "disable" );
		$modBtn.addClass( "disable" );
		
	}
	
});

// 삭제 버튼 클릭 이벤트
$delBtn.on("click", function(){
	
	// 활성화된 경우만 기능 동작
	if( $delBtn.hasClass("disable") ){
		return;
	}
	
	var $selectedemployeeItem = $employeeList.find(".employee-item.select");
	var employeeName = $selectedemployeeItem.getName();
	if( confirm( "'" + employeeName + "'을 삭제하시겠습니까?\n정산 이력이 있다면 삭제되지않고, '사용안함'으로 변경됩니다.\n해당 직원들의 소속이'기타'로 변경됩니다." ) ){
		
		// 삭제모션
		$selectedemployeeItem.animate( { "width": "0px" }, 500, function(){
			
			// 삭제
			$selectedemployeeItem.remove();
			
			// 수량 표시 갱신
			$employeeCntSpan.update();
			
			// 버튼 비활성화
			$delBtn.addClass( "disable" );
			$modBtn.addClass( "disable" );
			
		} );
		
		
	}
	
});

// 수정 버튼 클릭 이벤트
$modBtn.on("click", function(){
	
	// 활성화된 경우만 기능 동작
	if( $delBtn.hasClass("disable") ){
		return;
	}
	
	// 선택된 소속
	var $selectedemployeeItem = $employeeList.find(".employee-item.select");
	var employeeName = $selectedemployeeItem.getName();
	
	// 이름 설정
	$modemployeeNameInp.val( employeeName );
	
	// 사용여부 설정
	var use = $selectedemployeeItem.getUse();
	if( use ){
		$modUseBtn.addClass("select");
		$modUnuseBtn.removeClass("select");
	}else{
		$modUnuseBtn.addClass("select");
		$modUseBtn.removeClass("select");
	}
	
	// 팝업 표시
	$modPopup.fadeIn( 500 );
	parent.hideNav( 500 );
	$modPopupContent.css( { "margin-top": "-40px" } ).animate( { "margin-top": "0px" }, 500 );
	
	// 입력창 포커스 ( show 이후에 처리 필요 )
	$modemployeeNameInp.focus();
	
});

// 수정팝업 - 사용 버튼 클릭 이벤트
$modUseBtn.on("click", function(){
	
	$modUseBtn.addClass("select");
	$modUnuseBtn.removeClass("select");
	
	
});

// 수정팝업 - 미사용 버튼 클릭 이벤트
$modUnuseBtn.on("click", function(){
	
	$modUnuseBtn.addClass("select");
	$modUseBtn.removeClass("select");
	
	
});

// 수정팝업 - 취소 버튼 클릭 이벤트
$modCancelBtn.on("click", function(){
	
	// 팝업 제거
	parent.showNav( 500 );
	$modPopup.fadeOut( 500 );
	$modPopupContent.css( { "margin-top": "0px" } ).animate( { "margin-top": "-40px" }, 500 );
	
});

// 수정팝업 - 완료 버튼 클릭 이벤트
$modCompleteBtn.on("click", function(){
	
	var newemployeeName = $modemployeeNameInp.val().trim();
	if( newemployeeName == "" ){
		alert( "그룹명이 비어있습니다." );
		return;
	}
	
	// 선택된 소속
	var $selectedemployeeItem = $employeeList.find(".employee-item.select");
	
	// 그룹명이 달라진 경우만 그룹명 검증
	var beforeemployeeName = $selectedemployeeItem.getName();
	if( beforeemployeeName != newemployeeName ){
		var $employeeItems = $employeeList.find( ".employee-item" );
		for( var i=0; i<$employeeItems.length; ++i ){
			var employeeName =  $employeeItems.eq( i ).getName();
			if( newemployeeName == employeeName ){
				alert( "이미 존재하는 그룹명 입니다." );
				return;
			}
		}
	}
	
	// 소속명 설정
	$selectedemployeeItem.setName( newemployeeName );
	
	// 사용여부 설정
	var use = $modUseBtn.hasClass("select");
	$selectedemployeeItem.setUse( use );
	
	// 수정일 갱신
	$selectedemployeeItem.updateDate();
	
	// 팝업 제거
	parent.showNav( 500 );
	$modPopup.fadeOut( 500 );
	$modPopupContent.css( { "margin-top": "0px" } );
	$modPopupContent.animate( { "margin-top": "-40px" }, 500 );
	
});

// 저장 버튼 클릭 이벤트
$saveBtn.on("click", function(){
	
	 var employees = [];
	 var $employeeItems = $employeeList.find(".employee-item");
	 for( var i=0; i<$employeeItems.length; ++i ){
		 var $employeeItem = $employeeItems.eq( i );
		 employees.push( $employeeItem.data() );
	 }
	 
	 $.ajax({
		
		 url: "/employee/mgmt/save",
		 type: "post",
		 headers: {
	     	"Content-Type": "application/json"
	     },
		 data: JSON.stringify( employees ),
		 dataType: "json",
		 success: function( res ){
			 
			 if( res.result == "SUCCESS" ){
				 alert( "저장되었습니다." );
			 }else{
				 alert( "실패하였습니다.\n관리자에게 문의바랍니다." );
			 }
			 
		 }
		 
	 });
	
});


</script>
</body>
</html>