<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8">
<title>신나라유통 ERP</title>
<style type="text/css">
body { margin: 0px; padding: 0px; overflow: hidden; font-family: sans-serif; color: #616161; }

header { position: absolute; z-index: 2; text-align: center; width: 100%; }
header .header_btn { position: relative; display: inline-block; padding: 10px 20px; font-weight: bold; font-size: 14px; cursor: pointer; color: #cccccc; }
header .header_btn:hover { border-bottom: #616161 solid 2px; color: #616161; }
header .header_btn.select { color: #009688 !important; border-bottom: #009688 solid 2px !important; }
header .sub_header { position: absolute; left: 0px; padding: 8px 0px; bottom: -36px; width: 1000px; text-align: left; display: none; }
header .header_btn.select .sub_header { display: block; }
header .sub_header_btn { position: relative; display: inline-block; padding: 2px 10px; font-weight: bold; font-size: 12px; cursor: pointer; color: #cccccc; }
header .sub_header_btn.select {color: #616161 !important; }
header .sub_header_btn:hover { color: #616161; }
header .sub_header_btn .dot { position: absolute; left: -0px; top: calc( 50% - 2px ); width: 4px; height: 4px; display: inline-block; border-radius: 20px; background-color: #616161; }
iframe { position: absolute; top: 40px; width: 100%; height: calc( 100% - 80px ); border: none; }
iframe.hide { top: 0px; opacity: 0; }
footer { position: fixed; bottom: 0px; width: 100%; border-top: #ccc solid 1px; background-color: #ECEFF1; color: #616161; text-align: center; font-size: 10px; padding: 13px; }
.background { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index:  }
</style>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<header>
	<div class="header_btn select" data-target-src="/group/management/view">
		<div>소속</div>
		<div class="sub_header">
			<div class="sub_header_btn select" data-target-src="/group/management/view">
				<div id='dot' class='dot'></div>
				<div>소속 관리</div>
			</div>
			<div class="sub_header_btn" data-target-src="/group/recPrice/view">
				<div>입고가 관리</div>
			</div>
		</div>
	</div>
	<div class="header_btn" data-target-src="/employee/management/view">
		<div>직원</div>
		<div class="sub_header">
			<div class="sub_header_btn" data-target-src="/employee/management/view">
				<div>직원 관리</div>
			</div>
			<div class="sub_header_btn">
				<div>출고가 관리</div>
			</div>
		</div>
	</div>
	<div class="header_btn" data-target-src="/product/main">품목</div>
	<div class="header_btn" data-target-src="/calculation/main">정산</div>
	<div class="header_btn" data-target-src="/stats/main">통계</div>
</header>
<iframe id="sub_view" class="hide" src="/employee/management/view"></iframe>
<!-- <iframe id="sub_view" class="hide" src="/group/management/view"></iframe> -->
<footer>
	신나라유통
</footer>

<script type="text/javascript">

/**
 * jQuery 변수
 */

// 헤더 버튼들
var $headerBtns = $(".header_btn");
var $subHeaderBtns = $(".sub_header_btn");

// 서브 헤더 포인트
var $dot = $("#dot");


// 하위 화면 ( iframe )
var $subView = $("#sub_view");

var $header = $("header");
var $footer = $("footer");

/**
 * 이벤트
 */

// 헤더버튼 선택 및 페이지 이동
function selectHeaderBtnAndMovePage( $targetHeaderBtn, src ){
	
	$headerBtns.not( $targetHeaderBtn ).stop().removeClass( "select", 100 );
	$targetHeaderBtn.stop().addClass( "select", 100 );
	
	$subView.addClass( "hide", 500, function(){
		$subView.attr( "src", src );
	} );
	
}

// 서브헤더버튼 선택
function selectSubHeaderBtnAndMovePage( $targetSubHeaderBtn ){
	
	$targetSubHeaderBtn.prepend( $dot );
	$targetSubHeaderBtn.addClass( "select" );
	$subHeaderBtns.not( $targetSubHeaderBtn ).removeClass( "select" );
	
}

// 헤더 버튼 클릭 이벤트
$headerBtns.on( "click", function(){
	
	var $targetHeaderBtn = $(this);
	var src = $targetHeaderBtn.attr( "data-target-src" );
	selectHeaderBtnAndMovePage( $targetHeaderBtn, src );
	
	var $subHeaderBtns = $targetHeaderBtn.find(".sub_header_btn");
	if( 0 < $subHeaderBtns.length ){
		selectSubHeaderBtnAndMovePage( $subHeaderBtns.eq( 0 ) );
	}
	
	
} );

// 서브헤더 버튼 클릭 이벤트
$subHeaderBtns.on( "click", function( e ){
	
	e.stopPropagation();
	
	var $this = $(this);
	var $targetHeaderBtn = $this.closest( ".header_btn" );
	var src = $this.attr( "data-target-src" );
	selectHeaderBtnAndMovePage( $targetHeaderBtn, src );
	selectSubHeaderBtnAndMovePage( $this );
	
} );

// 헤더 버튼 마우스엔터 이벤트
$headerBtns.on( "mouseenter", function(){
	
	var $this = $(this);
	var $thisSubHeader = $this.find( ".sub_header" );
	$thisSubHeader.show();
	$header.find( ".sub_header" ).not( $thisSubHeader ).hide();
	
} );

// 헤더 버튼 마우스리브 이벤트
$headerBtns.on( "mouseleave", function(){
	
	var $this = $(this);
	var $thisSubHeader = $this.find( ".sub_header" );
	$thisSubHeader.hide();
	
	$("header .header_btn.select .sub_header").show();
	
} );

// 하위 화면 로드 이벤트
$subView.on( "load", function(){
	
	$subView.stop().removeClass( "hide", 500 );
	
} );

window.hideNav = function( duration, callback ){
	
	var $subBody = $($subView.contents()[0].body);
	$subView.animate({"top": "0px", "height": window.innerHeight + "px"}, duration);
	$header.animate({"top": "-100px"}, duration);
	$subBody.animate({"margin-top": "40px"}, duration);
	$footer.animate({"bottom": "-40px"}, duration);
	
};

window.showNav = function( duration, callback ){
	
	var $subBody = $($subView.contents()[0].body);
	$subView.animate({"top": "40px", "height": ( window.innerHeight - 80 ) + "px"}, duration);
	$header.animate({"top": "0px"}, duration);
	$subBody.animate({"margin-top": "0px"}, duration);
	$footer.animate({"bottom": "0px"}, duration);
	
};
</script>
</body>
</html>