<!DOCTYPE html>
<html>
<head>
<title>신나라유통 ERP</title>
<style type="text/css">
body { margin: 0px; padding: 0px; overflow: hidden; font-family: sans-serif; color: #616161; }

header { text-align: center; }
header .header_btn { display: inline-block; padding: 10px 20px; font-weight: bold; font-size: 14px; cursor: pointer; color: #cccccc; }
header .header_btn:hover { border-bottom: #616161 solid 2px; color: #616161; }
header .header_btn.select { color: #009688; border-bottom: #009688 solid 2px; }
iframe { position: absolute; top: 40px; width: 100%; height: calc( 100% - 40px ); border: none; }
	
</style>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<header>
	<div class="header_btn select">소속</div>
	<div class="header_btn">직원</div>
	<div class="header_btn">품목</div>
	<div class="header_btn">정산</div>
	<div class="header_btn">추이</div>
</header>
<iframe src="/group/main"></iframe>

<script type="text/javascript">

</script>
</body>
</html>